# PART- 2 `( Handling Missing Values )`

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats.mstats import winsorize

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

In [2]:
df = pd.read_csv("clean_scout.csv")  # eğer bir önceki sayfada index= false yapmasaydık burada index_col=false ilave etmeliydik. yoksa bir ilave sütunumuz daha olurdu.

In [3]:
df.shape

(15919, 33)

In [4]:
df.head(3).T

,0,1,2
make_model,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.000,80000.000,83450.000
Type,Used,Used,Used
Warranty,NaN,NaN,NaN
Cylinders,3.000,4.000,NaN
Fuel,Diesel,Benzine,Diesel
Gears,NaN,7.000,NaN
Comfort_Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid..."
Entertainment_Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer"
Extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control"
Safety_Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D..."
age,3.000,2.000,3.000
Previous_Owners,2.000,NaN,1.000
hp_kW,66.000,141.000,85.000
Inspection_new,Yes,NaN,NaN
Body_Color,Black,Red,Black
Paint_Type,Metallic,NaN,Metallic
Upholstery_type,Cloth,Cloth,Cloth
Upholstery_color,Black,Grey,Black
Nr_of_Doors,5.000,3.000,4.000
Nr_of_Seats,5.000,4.000,4.000
Gearing_Type,Automatic,Automatic,Automatic
Displacement_cc,1422.000,1798.000,1598.000
Weight_kg,1220.000,1255.000,NaN
Drive_chain,front,front,front
cons_comb,3.800,5.600,3.800
cons_city,4.300,7.100,4.400
cons_country,3.500,4.700,3.400
CO2_Emission,99.000,129.000,99.000
Emission_Class,Euro 6,Euro 6,Euro 6

In [5]:
df.isnull().sum()/df.shape[0]*100

make_model             0.000
body_type              0.377
price                  0.000
vat                   28.350
km                     6.433
Type                   0.013
Warranty              69.514
Cylinders             35.681
Fuel                   0.000
Gears                 29.600
Comfort_Convenience    5.779
Entertainment_Media    8.631
Extras                18.607
Safety_Security        6.169
age                   10.032
Previous_Owners       41.711
hp_kW                  0.553
Inspection_new        75.300
Body_Color             3.750
Paint_Type            36.259
Upholstery_type       30.599
Upholstery_color      31.899
Nr_of_Doors            1.332
Nr_of_Seats            6.137
Gearing_Type           0.000
Displacement_cc        3.116
Weight_kg             43.809
Drive_chain           43.081
cons_comb             12.771
cons_city             15.302
cons_country          14.926
CO2_Emission          15.302
Emission_Class        22.790
dtype: float64

In [6]:
# missing value içeren sütunları bize getiren func.

miss_val = []

[miss_val.append(i) for i in df.columns if any(df[i].isnull())]

miss_val

['body_type',
 'vat',
 'km',
 'Type',
 'Warranty',
 'Cylinders',
 'Gears',
 'Comfort_Convenience',
 'Entertainment_Media',
 'Extras',
 'Safety_Security',
 'age',
 'Previous_Owners',
 'hp_kW',
 'Inspection_new',
 'Body_Color',
 'Paint_Type',
 'Upholstery_type',
 'Upholstery_color',
 'Nr_of_Doors',
 'Nr_of_Seats',
 'Displacement_cc',
 'Weight_kg',
 'Drive_chain',
 'cons_comb',
 'cons_city',
 'cons_country',
 'CO2_Emission',
 'Emission_Class']

In [7]:
# function for first looking to the columns

def first_looking(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print("--------------------------------")
    print(df[col].value_counts(dropna = False))

## functions to fill the missing values

In [ ]:
def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
def fill(df, group_col1, group_col2, col_name, method): # method can be "mode" or "median" or "ffill"
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
                
    elif method == "median":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].median()).fillna(df[cond1][col_name].median()).fillna(df[col_name].median())
                
    elif method == "ffill":           
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

## Let's examine and fill the missing values of all the columns/features one by one

## age

In [ ]:
first_looking("age")

In [ ]:
df['age'].fillna('-', inplace=True)

In [ ]:
df["age"].value_counts(dropna=False)

In [ ]:
df.groupby("age").km.describe()

In [ ]:
df[df["age"]=="-"]["km"].value_counts(dropna=False)

In [ ]:
cond1 = (df['km'] < 10000)
cond2 = ((df['km'] >= 10000) & (df['km'] < 28000))
cond3 = ((df['km'] >= 28000) & (df['km'] < 50000))
cond4 = (df['km'] >= 50000)

In [ ]:
df.loc[cond1,'age'] = df.loc[cond1,'age'].replace('-', 0)
df.loc[cond2,'age'] = df.loc[cond2,'age'].replace('-', 1)
df.loc[cond3,'age'] = df.loc[cond3,'age'].replace('-', 2)
df.loc[cond4,'age'] = df.loc[cond4,'age'].replace('-', 3)

In [ ]:
df.groupby('age').km.mean()

In [ ]:
df["age"].value_counts(dropna=False)

In [ ]:
df.groupby(['make_model',"body_type", 'age']).price.describe()

In [ ]:
df['age'].replace('-',0, inplace=True)

In [ ]:
df.groupby('age').km.mean()

In [ ]:
df["age"].value_counts(dropna=False)

## km

In [ ]:
first_looking("km")

In [ ]:
df.groupby("age").km.mean()

In [ ]:
df.groupby("age").km.transform("mean")

In [ ]:
df["km"].fillna(df.groupby("age").km.transform("mean"), inplace=True)

In [ ]:
df.km.value_counts(dropna=False)

## body type

In [ ]:
first_looking("body_type")

In [ ]:
df.body_type.replace("Other", np.nan, inplace=True)

In [ ]:
df['body_type'].value_counts(dropna=False)

In [ ]:
df["body_type"].mode()

In [ ]:
df["body_type"].mode()[0]

In [ ]:
#Step-1
#df["body_type"].fillna(df["body_type"].mode()[0])

#Step-2
#df.loc[df["make_model"]=="Audi A1", "body_type"].fillna(df[df["make_model"]=="Audi A1"]["body_type"].mode()[0])

In [ ]:
#Step-3
for group in list(df["make_model"].unique()):
    cond = df["make_model"]==group
    mode = list(df[cond]["body_type"].mode())
    if mode != []:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df[cond]["body_type"].mode()[0])
    else:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df["body_type"].mode()[0])

In [ ]:
df['body_type'].value_counts(dropna=False)

In [ ]:
def fill_most(df, group_col, col_name):
    '''Fills the missing values with the most existing value (mode) in the relevant column according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        mode = list(df[cond][col_name].mode())
        if mode != []:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[cond][col_name].mode()[0])
        else:
            df.loc[cond, col_name] = df.loc[cond, col_name].fillna(df[col_name].mode()[0])
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_most(df, "make_model", "body_type")

## Previous_Owners

In [ ]:
first_looking("Previous_Owners")

In [ ]:
df["Previous_Owners"].fillna("-", inplace = True)

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
df.groupby(['make_model', 'age', 'Previous_Owners']).km.describe()

In [ ]:
df[(df["make_model"]=="Renault Duster") & (df["Previous_Owners"] == "-")]["km"]

In [ ]:
cond = (df["make_model"]=="Renault Duster") & (df["Previous_Owners"] == "-")
df.loc[cond, "Previous_Owners"] = 0.0

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
df["Previous_Owners"].replace("-", np.nan, inplace=True)

In [ ]:
#Step-1
#df.["Previous_Owners"].fillna(method="ffill")

#Step-2
#df.loc[df["age"]==0, "Previous_Owners"].fillna(method="ffill")

In [ ]:
#Step-3
for group in list(df["age"].unique()):
    cond = df["age"]==group
    df.loc[cond, "Previous_Owners"] = df.loc[cond, "Previous_Owners"].fillna(method="ffill").fillna(method="bfill")
df["Previous_Owners"] = df["Previous_Owners"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
df["Previous_Owners"].value_counts(dropna=False)

In [ ]:
def fill_prop(df, group_col, col_name):
    '''Fills the missing values with "ffill and bfill method" according to single-stage grouping'''
    for group in list(df[group_col].unique()):
        cond = df[group_col]==group
        df.loc[cond, col_name] = df.loc[cond, col_name].fillna(method="ffill").fillna(method="bfill")
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill_prop(df, "age", "Previous_Owners")

## Warranty

In [ ]:
first_looking("Warranty")

In [ ]:
df["Warranty"].fillna("-", inplace = True)

In [ ]:
df.groupby(['make_model', 'age', 'Warranty']).price.describe()

In [ ]:
df.groupby(["make_model","Warranty"]).price.describe().sort_values(by = ["make_model", "mean"], ascending = False)

##### There are too many nan values and when we analyzed these nan values according to the km, age and make_model columns, we decided that this column does not have healthy data.

In [ ]:
df.drop("Warranty", axis=1, inplace=True)

## vat

In [ ]:
first_looking("vat")

There is no relation between vat and other columns. So we can use ffill

In [ ]:
df.vat.fillna(method="ffill", inplace = True)

In [ ]:
df.vat.value_counts(dropna=False)

## Body_Color

In [ ]:
first_looking("Body_Color")

In [ ]:
df["Body_Color"].fillna("-", inplace = True)

In [ ]:
df["Body_Color"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", 'Body_Color']).price.describe()

In [ ]:
df.drop("Body_Color", axis=1, inplace=True)

### Paint Type

In [ ]:
first_looking("Paint_Type")

In [ ]:
df["Paint_Type"].fillna("-", inplace = True)

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", "age", 'Paint_Type']).price.describe()

In [ ]:
df.groupby(["make_model", "body_type", 'Paint_Type']).price.describe().sort_values(by = ["make_model", "body_type", "mean"], ascending = False)

In [ ]:
df["Paint_Type"].replace("-", np.nan, inplace = True)

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
#Step-1
#df.["Paint_Type"].fillna(method="ffill")

#Step-2
#df.loc[df["age"]==0, "Paint_Type"].fillna(method="ffill")

#Step-3
#for group in list(df["make_model"].unique()):
#    cond = df["make_model"]==group
#    df.loc[cond, "Paint_Type"] = df.loc[cond, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")
#df["Paint_Type"] = df["Paint_Type"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
# Step-4
for group1 in list(df["make_model"].unique()):
    for group2 in list(df["body_type"].unique()):
        cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
        df.loc[cond2, "Paint_Type"] = df.loc[cond2, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")
                
for group1 in list(df["make_model"].unique()):
    cond1 = df["make_model"]==group1
    df.loc[cond1, "Paint_Type"] = df.loc[cond1, "Paint_Type"].fillna(method="ffill").fillna(method="bfill")            
           
df["Paint_Type"] = df["Paint_Type"].fillna(method="ffill").fillna(method="bfill")

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

In [ ]:
def fill_ffill(df, group_col1, group_col2, col_name):
    
    for group1 in list(df[group_col1].unique()):
        for group2 in list(df[group_col2].unique()):
            cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
            df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
                
    for group1 in list(df[group_col1].unique()):
        cond1 = df[group_col1]==group1
        df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")            
           
    df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")

In [ ]:
fill_ffill(df, "make_model", "body_type", "Paint_Type")

In [ ]:
df["Paint_Type"].value_counts(dropna=False)

### Type

In [ ]:
first_looking("Type")

In [ ]:
df.Type.fillna("-", inplace=True)

In [ ]:
df['Type'].value_counts(dropna=False)

In [ ]:
df.groupby(["Type", "make_model", "age"]).km.describe()

In [ ]:
cond1 = (df['make_model'] == "Audi A3") & (df["age"] == 0)
cond2 = (df['make_model'] == "Audi A3") & (df["age"] == 3)

In [ ]:
df.loc[cond1,'Type'] = df.loc[cond1,'Type'].replace('-','New')
df.loc[cond2,'Type'] = df.loc[cond2,'Type'].replace('-','Used')

In [ ]:
df['Type'].value_counts(dropna=False)

## Inspection new

In [ ]:
first_looking("Inspection_new")

In [ ]:
df["Inspection_new"].fillna("-", inplace=True)

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", "age", "Inspection_new"]).price.describe()

In [ ]:
df["Inspection_new"].replace("-", "No", inplace=True)

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

In [ ]:
df["Inspection_new"].replace(["Yes", "No"], [1,0], inplace = True) # just replace mentioned values
#df["Inspection_new"].map({"Yes":1, "No":0}, inplace=True) # if there is value apart from mention in map function,
                                                           # that value is replaced with Nan value.

In [ ]:
df["Inspection_new"].value_counts(dropna=False)

## Upholstery_type

In [ ]:
first_looking("Upholstery_type")

In [ ]:
df["Upholstery_type"].replace(["Velour", "alcantara", "Part leather", "Full leather"], ["Cloth", "Part/Full Leather", "Part/Full Leather", "Part/Full Leather"], inplace=True)

In [ ]:
df["Upholstery_type"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "Upholstery_type", "ffill")

## Upholstery_color

In [ ]:
df.drop("Upholstery_color", axis=1, inplace=True)

### Nr. of Doors

In [ ]:
first_looking("Nr_of_Doors")

In [ ]:
fill(df, "make_model", "body_type", "Nr_of_Doors", "mode")

### Nr. of Seats

In [ ]:
first_looking("Nr_of_Seats")

In [ ]:
fill(df, "make_model", "body_type", "Nr_of_Seats", "mode")

### Cylinders

In [ ]:
first_looking("Cylinders")

In [ ]:
fill(df, "make_model", "body_type", "Cylinders", "mode")

In [ ]:
df.drop("Cylinders", axis = 1, inplace = True)

### Drive chain

In [ ]:
first_looking("Drive_chain")

In [ ]:
df["Drive_chain"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type", "Drive_chain"]).price.describe()

In [ ]:
cond = (df['make_model'] == "Renault Duster") & (df["body_type"] == "Off-Road")

In [ ]:
df.loc[cond,'Drive_chain'] = df.loc[cond,'Drive_chain'].replace('-','4WD')

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
df["Drive_chain"] = df["Drive_chain"].replace('-', np.nan)

In [ ]:
df["Drive_chain"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "Drive_chain", "mode")

### Emission Class

In [ ]:
first_looking("Emission_Class")

In [ ]:
df["Emission_Class"].fillna("-", inplace=True)

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "age", "Fuel", "Emission_Class"]).price.describe()

In [ ]:
df["Emission_Class"].replace("-", np.nan, inplace=True)

In [ ]:
df["Emission_Class"].value_counts(dropna=False)

In [ ]:
fill(df, "age", "Fuel", "Emission_Class", "ffill")

In [ ]:
df.drop("Emission_Class", axis=1, inplace=True)

### Gears

In [ ]:
first_looking("Gears")

In [ ]:
df["Gears"].fillna("-", inplace=True)

In [ ]:
df["Gears"].value_counts(dropna=False)

In [ ]:
df.groupby(["make_model", "body_type", "Gearing_Type", "Gears"]).price.describe()

In [ ]:
df["Gears"].replace([1,2,3,4,9,50,"-"], np.nan, inplace=True)

In [ ]:
df["Gears"].value_counts(dropna=False)

In [ ]:
for group1 in list(df["make_model"].unique()):
    for group2 in list(df["body_type"].unique()):
        for group3 in list(df["Gearing_Type"].unique()):
            cond1 = df["make_model"]==group1
            cond2 = (df["make_model"]==group1) & (df["body_type"]==group2)
            cond3 = (df["make_model"]==group1) & (df["body_type"]==group2) & (df["Gearing_Type"]==group3)
            mode1 = list(df[cond1]["Gears"].mode())
            mode2 = list(df[cond2]["Gears"].mode())
            mode3 = list(df[cond3]["Gears"].mode())
            if mode3 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond3]["Gears"].mode()[0])
            elif mode2 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond2]["Gears"].mode()[0])
            elif mode1 != []:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df[cond1]["Gears"].mode()[0])
            else:
                df.loc[cond3, "Gears"] = df.loc[cond3, "Gears"].fillna(df["Gears"].mode()[0])

In [ ]:
df["Gears"].value_counts(dropna=False)

### hp_kW

In [ ]:
first_looking("hp_kW")

In [ ]:
df["hp_kW"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","hp_kW"]).price.describe()

In [ ]:
df["hp_kW"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "hp_kW", "mode")

## Displacement_cc

In [ ]:
first_looking("Displacement_cc")

In [ ]:
df["Displacement_cc"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","Displacement_cc"]).price.describe()

In [ ]:
df["Displacement_cc"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Displacement_cc", "mode")

## Weight_kg

In [ ]:
first_looking("Weight_kg")

In [ ]:
df["Weight_kg"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","Weight_kg"]).price.describe()

In [ ]:
df["Weight_kg"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "Weight_kg", "mode")

## CO2 Emission

In [ ]:
first_looking("CO2_Emission")

In [ ]:
df["CO2_Emission"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","CO2_Emission"]).price.describe()

In [ ]:
df["CO2_Emission"].replace("-", np.nan, inplace=True)

In [ ]:
fill(df, "make_model", "body_type", "CO2_Emission", "median")

### Comfort_Convenience

In [ ]:
first_looking("Comfort_Convenience")

In [ ]:
fill(df, "make_model", "body_type", "Comfort_Convenience", "mode")

### Entertainment_Media

In [ ]:
first_looking("Entertainment_Media")

In [ ]:
fill(df, "make_model", "body_type", "Entertainment_Media", "mode")

### Extras

In [ ]:
first_looking("Extras")

In [ ]:
fill(df, "make_model", "body_type", "Extras", "mode")

### Safety_Security

In [ ]:
first_looking("Safety_Security")

In [ ]:
fill(df, "make_model", "body_type", "Safety_Security", "mode")

## cons_comb

In [ ]:
first_looking("cons_comb")

In [ ]:
cons_comb = (df["cons_country"] + df["cons_city"])/2

In [ ]:
df["cons_comb"] = df["cons_comb"].fillna(cons_comb)

In [ ]:
df["cons_comb"].value_counts(dropna=False)

In [ ]:
df["cons_comb"].fillna("-", inplace=True)

In [ ]:
df.groupby(["make_model", "body_type","cons_comb"]).price.describe()

In [ ]:
df["cons_comb"].replace([0.0, 1.0, 1.2, 1.6, 10, 11, 13.8, 32.0, 33.0, 38.0, 40.0, 43.0, 46.0, 50.0, 51.0, 54.0, 55.0, "-"], np.nan, inplace=True)

In [ ]:
df["cons_comb"].value_counts(dropna=False)

In [ ]:
fill(df, "make_model", "body_type", "cons_comb", "median")

## cons_country

In [ ]:
df.drop("cons_country", axis = 1, inplace = True)

## cons_city

In [ ]:
df.drop("cons_city", axis = 1, inplace = True)

## End of this phase

In [ ]:
df.shape

In [ ]:
df.isnull().sum()/df.shape[0]*100

In [ ]:
df.to_csv("filled_scout.csv", index=False)