In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (9,5)
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv("final_scout_not_dummy.csv")
df.head()

  make_model body_type  price               vat       km  Type     Fuel  Gears                                Comfort_Convenience                                Entertainment_Media                                             Extras                                    Safety_Security  age  Previous_Owners  hp_kW  Inspection_new Paint_Type Upholstery_type Gearing_Type  Displacement_cc  Weight_kg Drive_chain  cons_comb
0    Audi A1    Sedans  15770    VAT deductible  56013.0  Used   Diesel    7.0  Air conditioning,Armrest,Automatic climate con...  Bluetooth,Hands-free equipment,On-board comput...     Alloy wheels,Catalytic Converter,Voice Control  ABS,Central door lock,Daytime running lights,D...  3.0              2.0   66.0               1   Metallic           Cloth    Automatic           1422.0     1220.0       front        3.8
1    Audi A1    Sedans  14500  Price negotiable  80000.0  Used  Benzine    7.0  Air conditioning,Automatic climate control,Hil...  Bluetooth,Hands-free equipment,On-board comput...  Alloy wheels,Sport seats,Sport suspension,Voic...  ABS,Central door lock,Central door lock with r...  2.0              1.0  141.0               0   Metallic           Cloth    Automatic           1798.0     1255.0       front        5.6
2    Audi A1    Sedans  14640    VAT deductible  83450.0  Used   Diesel    7.0  Air conditioning,Cruise control,Electrical sid...                              MP3,On-board computer                         Alloy wheels,Voice Control  ABS,Central door lock,Daytime running lights,D...  3.0              1.0   85.0               0   Metallic           Cloth    Automatic           1598.0     1135.0       front        3.8
3    Audi A1    Sedans  14500    VAT deductible  73000.0  Used   Diesel    6.0  Air suspension,Armrest,Auxiliary heating,Elect...  Bluetooth,CD player,Hands-free equipment,MP3,O...             Alloy wheels,Sport seats,Voice Control  ABS,Alarm system,Central door lock with remote...  3.0              1.0   66.0               0   Metallic           Cloth    Automatic           1422.0     1195.0       front        3.8
4    Audi A1    Sedans  16790    VAT deductible  16200.0  Used   Diesel    7.0  Air conditioning,Armrest,Automatic climate con...  Bluetooth,CD player,Hands-free equipment,MP3,O...  Alloy wheels,Sport package,Sport suspension,Vo...  ABS,Central door lock,Driver-side airbag,Elect...  3.0              1.0   66.0               1   Metallic           Cloth    Automatic           1422.0     1135.0       front        4.1

In [20]:
df.Gearing_Type.unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [3]:
df.isnull().sum(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15915 entries, 0 to 15914
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15915 non-null  object
 1   body_type            15915 non-null  object
 2   price                15915 non-null  int64
 3   vat                  15915 non-null  object
 4   km                   15915 non-null  float64
 5   Type                 15915 non-null  object
 6   Fuel                 15915 non-null  object
 7   Gears                15915 non-null  float64
 8   Comfort_Convenience  15915 non-null  object
 9   Entertainment_Media  15915 non-null  object
 10  Extras               15915 non-null  object
 11  Safety_Security      15915 non-null  object
 12  age                  15915 non-null  float64
 13  Previous_Owners      15915 non-null  float64
 14  hp_kW                15915 non-null  float64
 15  Inspection_new       15915 non-null  int64
 16  Paint_Type           15915 non-null  object
 17  Upholstery_type      15915 non-null  object
 18  Gearing_Type         15915 non-null  object
 19  Displacement_cc      15915 non-null  float64
 20  Weight_kg            15915 non-null  float64
 21  Drive_chain          15915 non-null  object
 22  cons_comb            15915 non-null  float64
dtypes: float64(8), int64(2), object(13)
memory usage: 2.8+ MB

(make_model             0
 body_type              0
 price                  0
 vat                    0
 km                     0
 Type                   0
 Fuel                   0
 Gears                  0
 Comfort_Convenience    0
 Entertainment_Media    0
 Extras                 0
 Safety_Security        0
 age                    0
 Previous_Owners        0
 hp_kW                  0
 Inspection_new         0
 Paint_Type             0
 Upholstery_type        0
 Gearing_Type           0
 Displacement_cc        0
 Weight_kg              0
 Drive_chain            0
 cons_comb              0
 dtype: int64,
 None)

In [4]:
df_new = df[["make_model", "hp_kW", "km","age", "price", "Gearing_Type","Gears"]]

In [5]:
df_new.drop(index=[2614], inplace =True)

In [6]:
df_new = df_new[~(df_new.price>35000)]

In [7]:
df_new = pd.get_dummies(df_new)
df_new

       hp_kW       km  age  price  Gears  make_model_Audi A1  make_model_Audi A3  make_model_Opel Astra  make_model_Opel Corsa  make_model_Opel Insignia  make_model_Renault Clio  make_model_Renault Duster  make_model_Renault Espace  Gearing_Type_Automatic  Gearing_Type_Manual  Gearing_Type_Semi-automatic
0       66.0  56013.0  3.0  15770    7.0                   1                   0                      0                      0                         0                        0                          0                          0                       1                    0                            0
1      141.0  80000.0  2.0  14500    7.0                   1                   0                      0                      0                         0                        0                          0                          0                       1                    0                            0
2       85.0  83450.0  3.0  14640    7.0                   1                   0                      0                      0                         0                        0                          0                          0                       1                    0                            0
3       66.0  73000.0  3.0  14500    6.0                   1                   0                      0                      0                         0                        0                          0                          0                       1                    0                            0
4       66.0  16200.0  3.0  16790    7.0                   1                   0                      0                      0                         0                        0                          0                          0                       1                    0                            0
...      ...      ...  ...    ...    ...                 ...                 ...                    ...                    ...                       ...                      ...                        ...                        ...                     ...                  ...                          ...
15787  118.0  10803.0  1.0  33990    6.0                   0                   0                      0                      0                         0                        0                          0                          1                       1                    0                            0
15788  165.0     15.0  0.0  33975    7.0                   0                   0                      0                      0                         0                        0                          0                          1                       1                    0                            0
15789  118.0      1.0  1.0  33990    6.0                   0                   0                      0                      0                         0                        0                          0                          1                       1                    0                            0
15790  146.0     15.0  0.0  33975    6.0                   0                   0                      0                      0                         0                        0                          0                          1                       1                    0                            0
15791  118.0      1.0  1.0  34200    6.0                   0                   0                      0                      0                         0                        0                          0                          1                       1                    0                            0

[15419 rows x 16 columns]

In [8]:
X = df_new.drop(columns = ["price"])
y= df_new.price

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler().fit(X)

In [11]:
X=scaler.transform(X)

In [12]:
from xgboost import XGBRegressor
model = XGBRegressor()
model.fit(X,y)
model.score(X,y)

0.9606217580034849

In [13]:
y_pred= model.predict(X)

In [14]:
len(y_pred)

15419

In [15]:
df_new["y_pred"] = y_pred

In [16]:
from sklearn.metrics import r2_score, mean_absolute_error

In [17]:
"r2",r2_score(y,y_pred), "rmse", mean_absolute_error(y,y_pred)**.5

('r2', 0.9606217580034849, 'rmse', 29.01535296827972)

In [18]:
import joblib
joblib.dump(model, open("xgb_model.joblib","wb"))
joblib.dump(scaler, open("scaler.joblib","wb"))
joblib.dump(list(df_new.drop(["price","y_pred"], axis=1).columns), open("columns.joblib","wb"))

In [22]:
sample_one = [{
"make_model":"Audi A1",
"hp_kW":66.0,
"km":56013,
"age":7.0,
"price":15770,
"Gearing_Type":"Automatic",
"Gears":6.0,
    }]

In [23]:
columns = joblib.load("columns.joblib")
columns

['hp_kW',
 'km',
 'age',
 'Gears',
 'make_model_Audi A1',
 'make_model_Audi A3',
 'make_model_Opel Astra',
 'make_model_Opel Corsa',
 'make_model_Opel Insignia',
 'make_model_Renault Clio',
 'make_model_Renault Duster',
 'make_model_Renault Espace',
 'Gearing_Type_Automatic',
 'Gearing_Type_Manual',
 'Gearing_Type_Semi-automatic']

In [24]:
df_s = pd.DataFrame(sample_one)
df_s

  make_model  hp_kW     km  age  price Gearing_Type  Gears
0    Audi A1   66.0  56013  7.0  15770    Automatic    6.0

In [25]:
df_s = pd.get_dummies(df_s).reindex(columns=columns, fill_value=0)
df_s

   hp_kW     km  age  Gears  make_model_Audi A1  make_model_Audi A3  make_model_Opel Astra  make_model_Opel Corsa  make_model_Opel Insignia  make_model_Renault Clio  make_model_Renault Duster  make_model_Renault Espace  Gearing_Type_Automatic  Gearing_Type_Manual  Gearing_Type_Semi-automatic
0   66.0  56013  7.0    6.0                   1                   0                      0                      0                         0                        0                          0                          0                       1                    0                            0

In [26]:
scaler = joblib.load(open("scaler.joblib","rb"))
model = joblib.load(open("xgb_model.joblib","rb"))
df_s = scaler.transform(df_s)
res = model.predict(df_s)
res

array([14380.148], dtype=float32)

In [31]:
df.hp_kW.unique()

array([ 66., 141.,  85.,  70.,  92., 112.,  60.,  71.,  67., 110.,  93.,
       147.,  86., 140.,  87.,  81.,  82., 135., 132., 100.,  96., 162.,
       150., 294., 228., 270., 137., 133.,  77., 101.,  78., 103.,  74.,
       118.,  84.,  88.,  80.,  76., 149.,  51.,  44.,  55.,  52.,  63.,
        40.,  65.,  75., 125., 120., 184., 239., 121., 143., 191.,  89.,
       195., 127., 122., 154., 155., 104., 123., 146.,  90.,  56.,  53.,
        54., 164., 163.,  57., 119., 165., 117., 115.,  98., 168., 167.])

In [27]:
df_new.iloc[y_pred.argmax()]

hp_kW                            147.000000
km                              4067.000000
age                                0.000000
price                          34990.000000
Gears                              6.000000
make_model_Audi A1                 0.000000
make_model_Audi A3                 0.000000
make_model_Opel Astra              0.000000
make_model_Opel Corsa              0.000000
make_model_Opel Insignia           1.000000
make_model_Renault Clio            0.000000
make_model_Renault Duster          0.000000
make_model_Renault Espace          0.000000
Gearing_Type_Automatic             0.000000
Gearing_Type_Manual                1.000000
Gearing_Type_Semi-automatic        0.000000
y_pred                         34650.480469
Name: 12828, dtype: float64

In [28]:
import requests

In [29]:
from flask import Flask, redirect, url_for, render_template, request
import numpy as np

In [32]:
url = "http://192.168.1.21:80/api"
data ={
"make_model":"Audi A1",
"hp_kW":66.0,
"km":56013.0,
"age":7.0,
"price":15770.0,
"Gearing_Type":"Automatic",
"Gears":6.0,
    }
response = requests.post(url, json=data)
print(response.text)

ConnectionError: HTTPConnectionPool(host='192.168.1.21', port=80): Max retries exceeded with url: /api (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x00000167FF1E0820>: Failed to establish a new connection: [WinError 10061] Hedef makine etkin olarak reddettiğinden bağlantı kurulamadı'))