In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline

EXERCISE 1. The hourly wages in a particular industry are normally distributed with mean $13.20 and standard deviation $2.50. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

In [7]:
xbar= 12.20  # sample mean
s = 2.5    # pop. std
n = 40   # sample

In [ ]:
H0: mu = 13.20
H1: mu < 13.20

In [16]:
z_test = (xbar-13.20)/ (s/np.sqrt(n))
z_test

-2.5298221281347035

In [19]:
p_value = stats.norm.cdf(z_test)

p_value

0.005706018193000826

In [21]:
alpha = 0.1

if p_value < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

Bu durumda bahse konu iş kolunda saatlik ücretin % 90 güvenilirlikle istatiksel anlamda 13.20 nin altında olması gerekir ve bu durumda bu iş kolunda faaliyet gösteren  fabrikada seçilen çalışanların 12.20 saatlik ücret alıyoruz diye firmayı şikayet edemezler.

In [24]:
oneSamp = stats.ttest_1samp(12.20, 13.20, alternative="greater") # burada greater olmasının sebebi 109 dan büyük olup olmadığını soruyor.

oneSamp

Ttest_1sampResult(statistic=nan, pvalue=nan)

In [ ]:
ttest_1samp(a, popmean[, axis, nan_policy, …])

EXERCISE 2.Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils
CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06

In [312]:
soil = pd.read_csv("soil.csv", sep=",", na_values = ".")

soil.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [278]:
n1 = 30
xbar1= soil.Soil1.mean()
std1 = soil.Soil1.std()

print(xbar1)
print(std1)

1.6918
0.20690284243310078

In [279]:
n2 = 35
xbar2= soil.Soil2.mean()
std2 = soil.Soil2.std()

print(xbar2)
print(std2)

1.4171142857142855
0.2191842860711146

In [294]:
# sample sayıları farklı ve varyanslar homojen değil

sp2=((std1*std1*(n1-1))+(std2*std2*(n2-1)))/(n1+n2-2)
sp2

0.04563292607709749

In [295]:
t_test1= (xbar1-xbar2)/np.sqrt((sp2/n1)+(sp2/n2))
t_test1

5.168147331934331

In [331]:
soil3 = soil.dropna(how="any", subset=["Soil1"])

In [ ]:
#H0: The population variances are equal
#H1: There is a difference between the variances in the population

In [335]:
leveneTest = stats.levene(soil3.Soil1, soil.Soil2)

leveneTest

LeveneResult(statistic=0.31486292982090475, pvalue=0.5767018253541134)

alpha = 0.01

Burada pvalue alfadan büyük çıktığından dolayı H0 hipotezini fail to reject yani reddemiyoruz. İki grubun varyansları arasında anlamlı bir farklılık yokmuş diyebiliriz.

In [176]:
# H0: mu1 = mu2
# H1: mu1 != mu2

In [333]:
indTest = stats.ttest_ind(soil3.Soil1, soil.Soil2)

indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [334]:
alpha = 0.01

if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

% 99 güvenilirlikte iki grubun ortalamaları arasında istatiksel olarak anlamlı bir fark vardır.

EXERCISE 3. The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset
1.	Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
2.	Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.
CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [123]:
df = pd.read_csv("2015 PISA Test - Sheet1.csv", sep=",", na_values = ".")

df.head(5)

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country Code            70 non-null     object
 1   Continent_Code          70 non-null     object
 2   internet_users_per_100  70 non-null     float64
 3   Math                    70 non-null     float64
 4   Reading                 70 non-null     float64
 5   Science                 70 non-null     float64
dtypes: float64(4), object(2)
memory usage: 3.4+ KB

In [111]:
df.groupby("Continent_Code", axis=0, as_index=True).describe()

               internet_users_per_100                                   \
                                count       mean        std        min
Continent_Code
AF                                2.0  43.359918   7.297226  38.200000
AS                               17.0  68.455613  21.086060  21.976068
EU                               37.0  77.274888  12.425773  53.744979
NAM                               5.0  66.886792  14.364359  54.215766
OC                                2.0  86.391704   2.589686  84.560519
SA                                7.0  60.180494   9.772455  40.900000

                                                            Math              \
                      25%        50%        75%        max count        mean
Continent_Code
AF              40.779959  43.359918  45.939877  48.519836   2.0  363.212100
AS              50.300000  74.000000  84.948353  92.884826  17.0  466.216647
EU              68.632900  76.184000  87.479056  98.200000  37.0  477.981449
NAM             57.431043  59.762950  74.554202  88.470000   5.0  424.250960
OC              85.476112  86.391704  87.307296  88.222889   2.0  494.559750
SA              57.116462  64.289000  66.321532  69.198471   7.0  402.887700

                ...     Reading           Science                         \
                ...         75%       max   count        mean        std
Continent_Code  ...
AF              ...  358.256450  361.0555     2.0  381.074250   7.536556
AS              ...  508.690500  535.1002    17.0  467.945847  56.671371
EU              ...  499.814600  526.4247    37.0  478.299381  34.450616
NAM             ...  496.935100  526.6678     5.0  438.180760  76.789918
OC              ...  507.678175  509.2707     2.0  511.648700   2.340241
SA              ...  431.922700  458.5709     7.0  421.747186  18.470319


                     min         25%        50%         75%       max
Continent_Code
AF              375.7451  378.409675  381.07425  383.738825  386.4034
AS              386.4854  417.611200  456.48360  523.277400  555.5747
EU              383.6824  460.774900  490.22500  501.936900  534.1937
NAM             331.6388  415.709900  419.60800  496.242400  527.7047
OC              509.9939  510.821300  511.64870  512.476100  513.3035
SA              396.6836  408.205450  424.59050  433.794600  446.9561

[6 rows x 32 columns]

In [113]:
dfmath = df.loc[:,["Continent_Code","Math"]]
dfmath

   Continent_Code      Math
0              EU  413.1570
1              AS  427.4827
2              SA  409.0333
3              OC  493.8962
4              EU  496.7423
..            ...       ...
65             AF  366.8180
66             EU  420.4540
67             SA  417.9919
68            NAM  469.6285
69             AS  494.5183

[70 rows x 2 columns]

In [125]:
dfeu = dfmath[dfmath.Continent_Code=="EU"]
dfeu.head()

  Continent_Code      Math
0             EU  413.1570
4             EU  496.7423
5             EU  506.9844
6             EU  441.1899
9             EU  521.2506

In [126]:
dfas = dfmath[dfmath.Continent_Code=="AS"]
dfas.head()

   Continent_Code      Math
1              AS  427.4827
11             AS  531.2961
25             AS  403.8332
27             AS  547.9310
30             AS  386.1096

In [ ]:
# H0: mu1 = mu2
# H1: mu1 != mu2

In [ ]:
normal dağılım gösterdiği ve varyans homojenliğine sahip olduğu belirtildiğinden dolayı bunlar için hipotez kurulmamıştır.

In [122]:
indTest = stats.ttest_ind(dfeu.Math, dfas.Math)

indTest

Ttest_indResult(statistic=0.870055317967983, pvalue=0.38826888111307345)

In [127]:
alpha = 0.05

if indTest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Fail to reject

H0 hipotezini reddedemiyoruz. Bundan dolayı % 95 güvenilirlikte iki bölgenin math ortalamaları arasında istatiksel olarak anlamlı bir fark yoktur diyebiliriz.

EXERCISE 4.The sample dataset has placement test scores (out of 100 points) for four subject areas: English, Reading, Math, and Writing. Students in the sample completed all 4 placement tests when they enrolled in the university. Suppose we are particularly interested in the English and Math sections, and want to determine whether students tended to score higher on their English or Math test, on average. We could use a paired t test to test if there was a significant difference in the average of the two tests.
Sample Dataset 2014
CHECK: statistic=36.312568981719856, pvalue=3.0710987192210606e-128

In [267]:
df = pd.read_csv("students_2014 - students_2014.csv", sep=",", na_values = ".")

df = df.loc[:,["ids","Math","English"]].dropna()

df.English.value_counts(dropna=False)

83.97    2
82.95    2
83.79    2
75.05    2
84.67    2
        ..
76.90    1
83.70    1
76.02    1
86.47    1
73.31    1
Name: English, Length: 366, dtype: int64

In [ ]:
# H0: d_bar = 0        MUmath = MUenglish
# H1: d_bar != 0

In [272]:
pairedtest = stats.ttest_rel(df.English, df.Math, alternative="two-sided")

pairedtest

Ttest_relResult(statistic=36.312568981719856, pvalue=3.0710987192210606e-128)

In [199]:
alpha = 0.05

if pairedtest.pvalue < alpha:
    print("Reject the Null")
else:
    print("Fail to reject")

Reject the Null

In [ ]:
pvalue alfadan küçük olduğundan dolayı H0 hipotezini reddediyoruz.

% 95 güvenilirlikle English testinin ortalaması ile Math testinin ortalaması arasında istatiksel olarak anlamlı bir fark vardır.