___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

# PART- 1 `( Data Cleaning )`

https://www.youtube.com/watch?v=aBygOp17doQ

https://www.youtube.com/watch?v=FVECTpahzCQ

https://blog.softhints.com/pandas-typeerror-unhashable-type-list-dict/

In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 60)
pd.set_option('display.width', 5)
pd.set_option('display.max_colwidth', 30)

typ : {'frame', 'series'}, default 'frame'
    The type of object to recover.

dtype : bool or dict, default None
    If True, infer dtypes; if a dict of column to dtype, then use those;
    if False, then don't infer dtypes at all, applies only to the data.

In [300]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-tronic...,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particu...",\n2\n,"[\n06/2021\n, \n99 g CO2/k...","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, Hands-free equ...","[Alloy wheels, Catalytic C...","[ABS, Central door lock, D...","[\n, Sicherheit:, , Deakt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.co...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automat...","[Bluetooth, Hands-free equ...","[Alloy wheels, Sport seats...","[ABS, Central door lock, C...",[\nLangstreckenfahrzeug da...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.co...,Audi A1,Sportback 1.6 TDI S tronic...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (co...",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, D...","[\n, Fahrzeug-Nummer: AM-9...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [352]:
spec_chars = ["!",'"',"#","%","&","'","(",")"," ",
              "*","+",",","-","/",":",";","<",
              "=",">","?","@","[","\\","]","^",
              "`","{","|","}","~","–","\n","."]

for char in spec_chars:
    df.columns = df.columns.str.replace(char, '_')

<ipython-input-352-8f1b537feb51>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(char, '_')

In [353]:
df.columns = df.columns.str.lower()

In [354]:
df.rename(columns={"_comfort___convenience_":"comfort_convenience","_entertainment___media_":"entertainment_media","_extras_":"extras","_safety___security_":"safety_security","nr__of_doors":"nr_of_doors","nr__of_seats":"nr_of_seats"}, inplace=True)

In [355]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kw',
       'hp',
       'type',
       'previous_owners',
       'next_inspection',
       'inspection_new',
       'warranty',
       'full_service',
       'non_smoking_vehicle',
       'null',
       'make',
       'model',
       'offer_number',
       'first_registration',
       'body_color',
       'paint_type',
       'body_color_original',
       'upholstery',
       'body',
       'nr_of_doors',
       'nr_of_seats',
       'model_code',
       'gearing_type',
       'displacement',
       'cylinders',
       'weight',
       'drive_chain',
       'fuel',
       'consumption',
       'co2_emission',
       'emission_class',
       'comfort_convenience',
       'entertainment_media',
       'extras',
       'safety_security',
       'description',
       'emission_label',
       'gears',
       'country_version',
       'electricity_consumption',
       'last_service_date',
       'other_fuel_types',
       'availability',
       'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

df.rename(columns=lambda x: re.sub('(\s|/)','_', x), inplace=True).str.lower()

df.columns

In [312]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kw                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  type                           15917 non-null  object
 12  previous_owners                9279 non-null   object
 13  next_inspection                3535 non-null   object
 14  inspection_new                 3932 non-null   object
 15  warranty                       10499 non-null  object
 16  full_service                   8215 non-null   object
 17  non_smoking_vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  make                           15919 non-null  object
 20  model                          15919 non-null  object
 21  offer_number                   12744 non-null  object
 22  first_registration             14322 non-null  object
 23  body_color                     15322 non-null  object
 24  paint_type                     10147 non-null  object
 25  body_color_original            12160 non-null  object
 26  upholstery                     12199 non-null  object
 27  body                           15859 non-null  object
 28  nr_of_doors                    15707 non-null  object
 29  nr_of_seats                    14942 non-null  object
 30  model_code                     4978 non-null   object
 31  gearing_type                   15919 non-null  object
 32  displacement                   15423 non-null  object
 33  cylinders                      10239 non-null  object
 34  weight                         8945 non-null   object
 35  drive_chain                    9061 non-null   object
 36  fuel                           15919 non-null  object
 37  consumption                    14013 non-null  object
 38  co2_emission                   14111 non-null  object
 39  emission_class                 12898 non-null  object
 40  comfort_convenience            14999 non-null  object
 41  entertainment_media            14545 non-null  object
 42  extras                         12957 non-null  object
 43  safety_security                14937 non-null  object
 44  description                    15919 non-null  object
 45  emission_label                 3985 non-null   object
 46  gears                          11207 non-null  object
 47  country_version                7586 non-null   object
 48  electricity_consumption        137 non-null    object
 49  last_service_date              566 non-null    object
 50  other_fuel_types               880 non-null    object
 51  availability                   635 non-null    object
 52  last_timing_belt_service_date  16 non-null     object
 53  available_from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [6]:
df.shape

(15919, 54)

In [313]:
df['make_model'].value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [314]:
df['mark'] = df['make_model'].astype('str').str.split(' ', expand=True)[0]

In [315]:
df.mark.value_counts()

Opel       7343
Audi       5712
Renault    2864
Name: mark, dtype: int64

In [316]:
df['model'] = df['make_model'].astype('str').str.split(' ', expand=True)[1]

In [317]:
df.model.value_counts()

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: model, dtype: int64

In [318]:
df['short_description'].value_counts().head(20)

SPB 1.6 TDI 116 CV S tronic Sport                64
1.4 66kW (90CV) Selective                        40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH            38
SPB 30 TFSI S tronic Admired                     35
SPB 30 TDI S tronic Business                     35
Sporter 1.5 dCi 90CV Zen , NAVI - AZIENDALE      32
dCi 75 Business Energy eco2 Euro6 55 kW (75 C    31
1.2 5 porte b-Color                              30
dCi 160CV EDC Energy Intens                      30
SPB 1.6 TDI 116 CV Sport                         28
R.S. TROPHY ENERGY TCe 220 EDC                   28
1.2 5 porte Advance                              28
1.2 LIMITED *Navi*Temp*R&Go*Garantie*            27
K 1.4 Selection*Alu*FSA*Klima*ZV*                27
RS Sport 1.6 TCE220 Aut.*NAVI*SPORT-FWK*LED      27
1.6 TCE ENERGY INTENS *Navi*LED*Cam*Pano*        27
K 1.4 SIDI Turbo Innovation Aut. *NAVI*          27
1.4 TFSI Design*PDC*Sport-S*LM-Felgen*SHZ*       27
1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*      27
1.4 TFSI Attraction (125 CV)                     27
Name: short_description, dtype: int64

In [319]:
df['body_type'].value_counts().head(20)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [320]:
df['price'].value_counts().head(20)

14990    154
15990    151
10990    139
15900    106
17990    102
9900      98
20900     93
22900     92
13990     92
21900     91
19900     89
14900     88
16990     86
17900     86
18900     86
16900     84
18990     81
8490      78
12990     77
21500     75
Name: price, dtype: int64

In [321]:
df['vat'].value_counts().head(20)

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [322]:
df['km'].value_counts().head(20)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
100 km        139
15 km         109
5,000 km      104
20 km          61
3,000 km       58
12 km          56
8,000 km       49
45,000 km      48
30,000 km      47
10,000 km      47
25,000 km      47
18,000 km      46
1,000 km       46
35,000 km      44
19,000 km      44
Name: km, dtype: int64

In [323]:
df['km'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('int').value_counts().head(20)

# df["km"].replace(to_replace=r"\d+", value=r" ", regex=True) sadece km kalsın istersek

10       1045
0        1043
1         367
5         170
50        148
100       139
15        109
5000      104
20         61
3000       58
12         56
8000       49
45000      48
30000      47
25000      47
10000      47
18000      46
1000       46
35000      44
19000      44
Name: km, dtype: int64

In [324]:
df['registration'].value_counts().head(10)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
04/2018     541
01/2019     541
02/2018     539
03/2016     536
04/2016     532
Name: registration, dtype: int64

In [325]:
df["registration"] = pd.to_datetime(df["registration"], errors='coerce')

In [326]:
df["registration"].value_counts().head(10)

2018-03-01    695
2019-02-01    585
2018-05-01    572
2019-03-01    543
2018-04-01    541
2019-01-01    541
2018-02-01    539
2016-03-01    536
2016-04-01    532
2018-06-01    532
Name: registration, dtype: int64

In [327]:
df['prev_owner'].value_counts().head(100)

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [328]:
df['prev_owner'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('str').value_counts().head(20)

# None değerlerden dolayı astype("int") girersek hata veriyor.

1       8294
None    6828
2        778
3         17
4          2
Name: prev_owner, dtype: int64

In [32]:
df['kW'].value_counts().head(100)

Series([], Name: kW, dtype: int64)

In [329]:
df['hp'].value_counts().head(100)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
163 kW       1
239 kW       1
44 kW        1
133 kW       1
75 kW        1
Name: hp, Length: 81, dtype: int64

In [330]:
df['hp'].str.replace(r'\D+', '', regex=True).replace({'':0}).astype('int').value_counts().head(20)

85     2542
66     2122
81     1402
100    1308
110    1112
70      888
125     707
51      695
55      569
118     516
92      466
121     392
147     380
77      345
56      286
54      276
103     253
87      232
165     194
88      177
Name: hp, dtype: int64

In [351]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-tronic...,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particu...",\n2\n,"[\n06/2021\n, \n99 g CO2/k...","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, Hands-free equ...","[Alloy wheels, Catalytic C...","[ABS, Central door lock, D...","[\n, Sicherheit:, , Deakt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.co...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automat...","[Bluetooth, Hands-free equ...","[Alloy wheels, Sport seats...","[ABS, Central door lock, C...",[\nLangstreckenfahrzeug da...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.co...,Audi A1,Sportback 1.6 TDI S tronic...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (co...",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, D...","[\n, Fahrzeug-Nummer: AM-9...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [356]:
df['type'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                  3475
[, Used, , Diesel]                                                                                                       2516
[, Used, , Gasoline]                                                                                                     2367
[, Used, , Super 95]                                                                                                     1818
[, Pre-registered, , Super 95]                                                                                            500
                                                                                                                         ...
[, Pre-registered, , Super 95 / Super Plus 98 / Super E10 95]                                                               2
[, Employee's car, , LPG]                                                                                                   2
[, Pre-registered, , Super E10 95 / Super 95 / Super Plus 98]                                                               2
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91]       2
[, New, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                                 2
Name: type, Length: 100, dtype: int64

In [357]:
df['type'] = df['type'].astype('str').str.split(', ,', expand=True)

In [361]:
df['type'].value_counts().head(10)

['', 'Used', '', 'Diesel (Particulate Filter)']              3475
['', 'Used', '', 'Diesel']                                   2516
['', 'Used', '', 'Gasoline']                                 2367
['', 'Used', '', 'Super 95']                                 1818
['', 'Pre-registered', '', 'Super 95']                        500
['', 'New', '', 'Super 95']                                   497
['', "Employee's car", '', 'Diesel (Particulate Filter)']     343
['', 'New', '', 'Gasoline']                                   340
['', 'Used', '', 'Super 95 / Regular/Benzine 91']             324
['', "Employee's car", '', 'Super 95']                        264
Name: type, dtype: int64

In [342]:
# [df['type'][i][0] for i in range(len(df['type']))]

['[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 '[',
 ...]

In [227]:
df["vehicle_type"] = df['Type'].str.split(',', expand=True)[1]

In [228]:
df["vehicle_type"].str.replace(r'\W+', ' ', regex=True).replace({'':0}).value_counts().head(20)

 Used               11096
 New                 1650
 Pre registered      1364
 Employee s car      1011
 Demonstration        796
Name: vehicle_type, dtype: int64

In [290]:
df["Type1"] = []

for i in range(len(df)):
    df["Type1"] = df['Type'][i][0]

ValueError: Length of values (0) does not match length of index (15919)

In [288]:
len(df)

15919

In [291]:
df['Type'][i][0]

KeyError: "None of [Index(['',\n       'Used',\n       '',\n       'Diesel (Particulate Filter)'],\n      dtype='object')] are in the [index]"

In [208]:
df['Previous Owners'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
                                                                                             ...
[\n1\n, \n137 g CO2/km (comb)\n]                                                                1
[\n2\n, \n127 g CO2/km (comb)\n]                                                                1
[\n1\n, \n159 g CO2/km (comb)\n]                                                                1
[\n0\n, \n117 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
Name: Previous Owners, Length: 100, dtype: int64

In [215]:
df["Previous Owners"] = df["Previous Owners"].str.replace('\n', '')

In [217]:
df["Previous Owners"].value_counts().head(100)

1    8101
2     766
0     163
3      17
4       2
Name: Previous Owners, dtype: int64

In [19]:
df['Next Inspection'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n09/2021\n, \n120 g CO2/km (comb)\n]     6
[\n06/2021\n, \n128 g CO2/km (comb)\n]     6
[\n03/2022\n, \n113 g CO2/km (comb)\n]     6
[\n04/2021\n, \n99 g CO2/km (comb)\n]      6
[\n01/2022\n, \n117 g CO2/km (comb)\n]     6
Name: Next Inspection, Length: 100, dtype: int64

In [ ]:
#print("EmailMatches:", len(re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}", email)))

In [145]:
df['Next Inspection'] = df['Next Inspection'].str.replace('\n', '')

In [151]:
df['Next Inspection'].value_counts().head(10)

04/2022    62
03/2021    38
03/2022    36
06/2021    34
01/2022    32
04/2021    29
05/2021    27
05/2022    27
03/2020    25
05/2019    23
Name: Next Inspection, dtype: int64

In [152]:
df['Next Inspection'] = pd.to_datetime(df['Next Inspection'], errors='coerce')

In [153]:
df['Next Inspection'].value_counts().head(100)

2022-04-01    62
2021-03-01    38
2022-03-01    36
2021-06-01    34
2022-01-01    32
              ..
1955-01-01     1
2024-03-01     1
2018-03-01     1
2022-12-01     1
2018-08-01     1
Name: Next Inspection, Length: 64, dtype: int64

In [245]:
df = pd.read_json('scout_car.json', lines=True, orient='records', convert_axes=True, dtype=True,convert_dates=True)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.co...,Audi A1,Sportback 1.4 TDI S-tronic...,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particu...",\n2\n,"[\n06/2021\n, \n99 g CO2/k...","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest...","[Bluetooth, Hands-free equ...","[Alloy wheels, Catalytic C...","[ABS, Central door lock, D...","[\n, Sicherheit:, , Deakt...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.co...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automat...","[Bluetooth, Hands-free equ...","[Alloy wheels, Sport seats...","[ABS, Central door lock, C...",[\nLangstreckenfahrzeug da...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.co...,Audi A1,Sportback 1.6 TDI S tronic...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particu...",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (co...",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate F...","[[3.8 l/100 km (comb)], [4...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, D...","[\n, Fahrzeug-Nummer: AM-9...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
for i in df['Inspection new']
    df['Inspection new'].values.apply(lambda x : x.split(',')[i])

SyntaxError: invalid syntax (<ipython-input-254-bed00f575150>, line 1)

df['Inspection new'] = " ".join(df['Inspection new'].astype("str").splitlines())

In [233]:
df['Inspection new'] = df['Inspection new'].astype("str").apply(lambda x : x.split(',')[0])

In [247]:
df['Inspection new'].values.str.replace('\n', '').value_counts()

AttributeError: 'numpy.ndarray' object has no attribute 'str'

In [261]:
arr = df['Inspection new'].values

SyntaxError: invalid syntax (<ipython-input-265-4d4035f48b82>, line 1)

string = "a\nb\rv"
new_string = " ".join(string.splitlines())
new_string

In [38]:
df['Warranty'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \nEuro 6\n]                        1868
\n12 months\n                               1177
\n                                           979
\n24 months\n                                566
[\n, \n, \n4 (Green)\n]                      517
                                            ...
[\n24 months\n, \n124 g CO2/km (comb)\n]      14
[\n, \n, \n137 g CO2/km (comb)\n]             14
[\n12 months\n, \n127 g CO2/km (comb)\n]      14
[\n, \n, \n92 g CO2/km (comb)\n]              14
[\n, \n, \n143 g CO2/km (comb)\n]             13
Name: Warranty, Length: 100, dtype: int64

In [28]:
df['Warranty'] = df['Warranty'].str.replace('\n', '').replace({'':"Unknown"})

In [29]:
df['Warranty'].value_counts().head(100)

12 months    1177
Unknown       979
24 months     566
48 months     109
6 months       76
36 months      56
60 months      19
3 months       19
72 months      15
18 months       3
4 months        3
19 months       2
26 months       2
9 months        2
8 months        1
25 months       1
28 months       1
30 months       1
23 months       1
1 months        1
2 months        1
13 months       1
Name: Warranty, dtype: int64

In [39]:
df['Full Service'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \n4 (Green)\n]                                                                       2235
[\n, \n, \nEuro 6\n]                                                                          2097
[\n, \n]                                                                                      1702
[\n, \n, \nEuro 6d-TEMP\n]                                                                     399
\n                                                                                             283
                                                                                              ...
[\n, \n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \nEuro 4\n]                                                                             1
[\n, \n, \n, 4.6 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 3.9 l/100 km (country), \n]       1
[\n, \n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
Name: Full Service, Length: 100, dtype: int64

In [24]:
df['Full Service'] = df['Full Service'].str.replace('\n', '').replace({'':"Unknown"})

In [25]:
df['Full Service'].value_counts().head(100)

Unknown    283
Name: Full Service, dtype: int64

In [41]:
df['Non-smoking Vehicle'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
                                                                                              ...
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
Name: Non-smoking Vehicle, Length: 94, dtype: int64

In [26]:
df['Non-smoking Vehicle'] = df['Non-smoking Vehicle'].str.replace('\n', '') #.replace({'':"Unknown"})

In [27]:
df['Non-smoking Vehicle'].value_counts().head(100)

    70
Name: Non-smoking Vehicle, dtype: int64

In [42]:
df['null'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [43]:
df['Make'].value_counts().head(100)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [30]:
df['Make']= df['Make'].str.replace('\n', '')

In [32]:
df['Make'].value_counts().head(100)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [45]:
df['Model'].value_counts().head(100)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [44]:
df['Offer Number'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nTP62881\n]    27
[\nJV03654\n]    27
[\nXT61649\n]    27
[\nAK13780\n]    27
[\nXJ38068\n]    27
                 ..
[\n2689896\n]     4
[\n2740823\n]     4
[\n4834343\n]     4
[\n4922457\n]     4
[\n4834287\n]     4
Name: Offer Number, Length: 100, dtype: int64

In [58]:
pattern="(^\n[\w+]\n?)"

df1['Offer Number'] = [df['Offer Number'][i] for i in pattern]

KeyError: '('

In [66]:
df['Offer Number'] = df['Offer Number'].astype("str").str.replace('\n', '')

In [67]:
df['Offer Number'].value_counts().head(100)

nan                3175
['\nXJ38068\n']      27
['\nAK13780\n']      27
['\nHM53619\n']      27
['\nUN89904\n']      27
                   ...
['\n2703722\n']       4
['\n2689896\n']       4
['\n4834287\n']       4
['\n4505267\n']       4
['\n4944057\n']       4
Name: Offer Number, Length: 100, dtype: int64

In [53]:
df['Offer Number'] = re.findall('\d+', df['Offer Number'].astype(str))

TypeError: expected string or bytes-like object

In [50]:
df['Offer Number'].value_counts().head(100)

Series([], Name: Offer Number, dtype: int64)

In [48]:
pattern="[\s(\w*)\s]"
if(re.search(pattern, df['Offer Number'])):
    print(df['Offer Number'])
else:
    print(pattern)

TypeError: expected string or bytes-like object

In [40]:

df['Offer Number'] = df['Offer Number'].astype(str).str.extract('([\s\w+\s])')

In [41]:
df['Offer Number'].value_counts().head(100)

n    15919
Name: Offer Number, dtype: int64

In [33]:
df['Offer Number']= df['Offer Number'].str.replace('\n', '')

In [34]:
df['Offer Number'].value_counts().head(100)

Series([], Name: Offer Number, dtype: int64)

In [47]:
df['First Registration'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
Name: First Registration, dtype: int64

In [123]:
for i in df['First Registration'].value_counts():
    print(df['First Registration'][i][1])

2018
2017
2016
2016

In [96]:
df['Body Color'].value_counts().head(1000)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64

In [126]:
for i in df['Body Color']:
    print(df['Body Color'][i][1])

KeyError: "None of [Index(['\\n',\n       'Black',\n       '\\n'],\n      dtype='object')] are in the [index]"

In [49]:
df['Paint Type'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [88]:

re.findall("\w+(\|\S)+\w+",df['Paint Type'].value_counts())

TypeError: expected string or bytes-like object

In [50]:
df['Body Color Original'].value_counts().head(100)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nOnyx Schwarz\n]              338
[\nBianco\n]                    282
[\nMythosschwarz Metallic\n]    238
[\nBrillantschwarz\n]           216
[\nGris\n]                      204
                               ...
[\nOnyx Schwarz (M2)\n]          24
[\nlava rot\n]                   24
[\ncortinaweiss\n]               24
[\nArgon Silber (M2)\n]          24
[\ncortinaweiß\n]                23
Name: Body Color Original, Length: 100, dtype: int64

In [52]:
df['Upholstery'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
Name: Upholstery, dtype: int64

In [54]:
df['Body'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [55]:
df['Nr. of Doors'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [56]:
df['Nr. of Seats'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [57]:
df['Model Code'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
[\n0588/BDF\n]    175
[\n0588/BCV\n]    139
[\n3333/BAJ\n]    122
[\n3333/BEF\n]    118
[\n0588/AYB\n]    117
Name: Model Code, dtype: int64

In [58]:
df['Gearing Type'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [59]:
df['Displacement'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
[\n1,956 cc\n]     670
[\n1,461 cc\n]     595
[\n1,490 cc\n]     559
[\n1,422 cc\n]     467
[\n1,197 cc\n]     353
Name: Displacement, dtype: int64

In [60]:
df['Cylinders'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n2\n]       2
[\n8\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [61]:
df['Weight'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,163 kg\n]    574
[\n1,360 kg\n]    356
[\n1,165 kg\n]    301
[\n1,335 kg\n]    242
[\n1,135 kg\n]    213
[\n1,199 kg\n]    205
[\n1,734 kg\n]    170
[\n1,180 kg\n]    168
[\n1,503 kg\n]    165
[\n1,350 kg\n]    155
Name: Weight, dtype: int64

In [62]:
df['Drive chain'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [63]:
df['Fuel'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Diesel (Particulate Filter), \n]                4315
[\n, Super 95, \n]                                   3338
[\n, Gasoline, \n]                                   3175
[\n, Diesel, \n]                                     2984
[\n, Super 95 / Regular/Benzine 91, \n]               424
[\n, Regular/Benzine 91, \n]                          354
[\n, Super E10 95, \n]                                331
[\n, Super 95 (Particulate Filter), \n]               268
[\n, Super 95 / Super E10 95, \n]                     131
[\n, Regular/Benzine 91 (Particulate Filter), \n]     100
Name: Fuel, dtype: int64

In [64]:
df['Consumption'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]    304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]      276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]    257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]    253
[[4.7 l/100 km (comb)], [5.1 l/100 km (city)], [4.4 l/100 km (country)]]    244
[[4.5 l/100 km (comb)], [5.7 l/100 km (city)], [3.8 l/100 km (country)]]    214
[[4.4 l/100 km (comb)], [5.2 l/100 km (city)], [3.9 l/100 km (country)]]    213
[[3.3 l/100 km (comb)], [3.5 l/100 km (city)], [3.1 l/100 km (country)]]    210
[[4 l/100 km (comb)], [4.5 l/100 km (city)], [3.7 l/100 km (country)]]      201
[[5 l/100 km (comb)], [6.3 l/100 km (city)], [4.2 l/100 km (country)]]      196
Name: Consumption, dtype: int64

In [65]:
df['CO2 Emission'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n120 g CO2/km (comb)\n]    740
[[], [], []]                 628
[\n99 g CO2/km (comb)\n]     545
[\n97 g CO2/km (comb)\n]     537
[\n104 g CO2/km (comb)\n]    501
[\n102 g CO2/km (comb)\n]    477
[\n103 g CO2/km (comb)\n]    445
[\n114 g CO2/km (comb)\n]    382
[\n124 g CO2/km (comb)\n]    372
[\n108 g CO2/km (comb)\n]    362
Name: CO2 Emission, dtype: int64

In [66]:
df['Emission Class'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [68]:
df['\nComfort & Convenience\n'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                 216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                              134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                       130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]    105
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                             92
[Air conditioning, Automatic climate control, Cruise control, Multi-function steering wheel, Park Distance Control, Power windows]                                                                                                                                                                                                                                       89
[Air conditioning, Power windows, Seat ventilation, Split rear seats]                                                                                                                                                                                                                                                                                                    82
[Air conditioning, Seat ventilation, Split rear seats]                                                                                                                                                                                                                                                                                                                   79
[Air conditioning]                                                                                                                                                                                                                                                                                                                                                       79
[Air conditioning, Electrical side mirrors, Hill Holder, Multi-function steering wheel, Power windows]                                                                                                                                                                                                                                                                   78
Name: \nComfort & Convenience\n, dtype: int64

In [69]:
df['\nEntertainment & Media\n'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                    1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]     783
[On-board computer, Radio]                                                           487
[Radio]                                                                              477
[Bluetooth, CD player, Hands-free equipment, On-board computer, Radio, USB]          465
[On-board computer]                                                                  461
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio]          404
[Bluetooth, On-board computer, Radio]                                                397
[Bluetooth, Hands-free equipment, On-board computer, Radio]                          378
Name: \nEntertainment & Media\n, dtype: int64

In [70]:
df['\nExtras\n'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                       3245
[Alloy wheels, Touch screen]                          697
[Alloy wheels, Voice Control]                         577
[Alloy wheels, Touch screen, Voice Control]           541
[Alloy wheels, Roof rack]                             385
[Alloy wheels, Sport seats]                           380
[Roof rack]                                           337
[Alloy wheels, Catalytic Converter]                   271
[Alloy wheels, Sport seats, Sport suspension]         234
[Alloy wheels, Catalytic Converter, Touch screen]     228
Name: \nExtras\n, dtype: int64

In [71]:
df['\nSafety & Security\n'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                            480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                          275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]    272
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                228
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]              220
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                         174
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                             123
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                                               114
[ABS, Driver-side airbag, Electronic stability control, Passenger-side airbag, Power steering, Xenon headlights]                                                                                                                                                          106
Name: \nSafety & Security\n, dtype: int64

In [74]:
df['description'].value_counts().head(3)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           30
[\nSichern Sie sich diesen Opel Astra K 1.4 SIDI Turbo Innovation Start/Stop zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, mindestens 12 Monate gültige HU und AU,  , Highlights,  , Rückfahrkamera,  , Voll-LED-Matrix-Scheinwerfer (IntelliLux),  , Audio-Navigationssystem Navi 900 Europa Touch,  , Spurassistent,  , Leichtmetallfelgen , Komfort,  , Sitzheizung vorn,  , Klimaautomatik 2-Zonen,  , Parkpilotsystem vorn und hinten,  , 6-Stufen Automatikgetriebe,  , Tempomat (Geschwindigkeits-Regelanlage) mit Begrenzer ,  , Berganfahrassistent ,  , Servolenkung,  , Lendenwirbelstütze elektropneumatisch für Fahrer ,  , Kopfstützen vorn und hinten ,  , Multifunktionslenkrad in Leder, beheizbar ,  , Mittelarmlehne vorn verschiebbar,  , Zentralverriegelung mit Fernbedienung,  , Fensterheber elektrisch vorn + hinten,  , Berganfahr-Assistent (HSA, Hill Start Assist), Multimedia,  , 8 Zoll Touchscreen-Farbdisplay,  , Verkehrszeichenerkennung,  , Audiostreaming ,  , Apple CarPlay und Android Auto,  , 6 Lautsprecher ,  , Bluetooth-Freisprecheinrichtung ,  , Sprachsteuerung,  , Bordcomputer,  , Multimedia-Schnittstelle (USB / AUX-IN), Licht und Sicht,  , Außenspiegel elektrisch verstell-, heiz- und anklappbar,  , Abbiegelicht,  , LED Tagfahrlicht,  , Nebelscheinwerfer,  , Ambientebeleuchtung,  , Innenrückspiegel automatisch abblendend,  , Fernlichtassistent und Leuchtweitenregulierung ,  , Licht und Regensensor ,  , Wärmeschutzverglasung hinten abgedunkelt (Solar-Protect),  , LED Heckleuchten , Sicherheit,  , Abstandswarner,  , Auffahrwarnsystem,  , Isofix-Aufnahmen für Kindersitz an Rücksitz,  , Frontkamera,  , Airbag für Fahrer- und Beifahrerseite,  , Wegfahrsperre,  , ...]     27
Name: description, dtype: int64

In [73]:
df['Emission Label'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [75]:
df['Gears'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n4\n]        2
[\n3\n]        2
[\n1\n]        2
[\n50\n]       1
[\n2\n]        1
Name: Gears, dtype: int64

In [76]:
df['Country version'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
Name: Country version, dtype: int64

In [77]:
df['Electricity consumption'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

In [78]:
df['Last Service Date'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n02/2019\n, \nEuro 6\n]                 23
[\n05/2019\n, \nEuro 6\n]                 16
[\n01/2018\n, \n118 g CO2/km (comb)\n]    15
[\n03/2019\n, \nEuro 6\n]                 15
[\n04/2019\n, \nEuro 6\n]                 13
[\n06/2019\n, \nEuro 6\n]                 13
[\n01/2019\n, \nEuro 6\n]                 12
[\n12/2018\n, \nEuro 6\n]                 11
[\n10/2018\n, \nEuro 6\n]                 10
[\n05/2018\n, \nEuro 6\n]                  9
Name: Last Service Date, dtype: int64

In [81]:
df['Other Fuel Types'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[[], [], []]    880
Name: Other Fuel Types, dtype: int64

In [82]:
df['Availability'].value_counts().head(10)

\nin 90 days from ordering\n     196
\nin 120 days from ordering\n    182
\nin 1 day from ordering\n        51
\nin 3 days from ordering\n       35
\nin 5 days from ordering\n       35
\nin 180 days from ordering\n     24
\nin 14 days from ordering\n      24
\nin 7 days from ordering\n       20
\nin 150 days from ordering\n     18
\nin 2 days from ordering\n       16
Name: Availability, dtype: int64

In [83]:
df['Last Timing Belt Service Date'].value_counts().head(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n04/2016\n]                2
[\n01/2019\n]                1
[\n01/1970\n]                1
[\n05/2019\n]                1
[\n06/2017\n]                1
[\n04/2019\n]                1
[\n01/1900\n]                1
[\n02/2018\n]                1
[\n05/2018\n, \nEuro 6\n]    1
[\n01/2018\n]                1
Name: Last Timing Belt Service Date, dtype: int64

In [84]:
df['Available from'].value_counts().head(10)

\n31/08/19\n    98
\n30/07/19\n    25
\n15/08/19\n    24
\n16/09/19\n    14
\n29/06/19\n    12
\n01/07/19\n    11
\n28/06/19\n    10
\n19/08/19\n     7
\n10/09/19\n     6
\n10/11/19\n     5
Name: Available from, dtype: int64

In [85]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kW',
       'hp',
       'Type',
       'Previous Owners',
       'Next Inspection',
       'Inspection new',
       'Warranty',
       'Full Service',
       'Non-smoking Vehicle',
       'null',
       'Make',
       'Model',
       'Offer Number',
       'First Registration',
       'Body Color',
       'Paint Type',
       'Body Color Original',
       'Upholstery',
       'Body',
       'Nr. of Doors',
       'Nr. of Seats',
       'Model Code',
       'Gearing Type',
       'Displacement',
       'Cylinders',
       'Weight',
       'Drive chain',
       'Fuel',
       'Consumption',
       'CO2 Emission',
       'Emission Class',
       '\nComfort & Convenience\n',
       '\nEntertainment & Media\n',
       '\nExtras\n',
       '\nSafety & Security\n',
       'description',
       'Emission Label',
       'Gears',
       'Country version',
       'Electricity consumption',
       'Last Service Date',
       'Other Fuel Types',
       'Availability',
       'Last Timing Belt Service Date',
       'Available from',
       'Mark'],
      dtype='object')

In [101]:
spec_chars = ["!",'"',"#","%","&","'","(",")"," ",
              "*","+",",","-","/",":",";","<",
              "=",">","?","@","[","\\","]","^",
              "`","{","|","}","~","–","\n"]

for char in spec_chars:
    df.columns = df.columns.str.replace(char, '_')

#df.columns = df.columns.str.split().str.join(" ")

<ipython-input-101-8744ff9a5916>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace(char, '_')

## 2. yöntem column isimlerini değiştirirken:

df.rename(columns=lambda x: re.sub('(\s|/)','_', x), inplace=True)

df = df.clean_names().head()

df.keys()

In [97]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kW',
       'hp',
       'Type',
       'Previous_Owners',
       'Next_Inspection',
       'Inspection_new',
       'Warranty',
       'Full_Service',
       'Non_smoking_Vehicle',
       'null',
       'Make',
       'Model',
       'Offer_Number',
       'First_Registration',
       'Body_Color',
       'Paint_Type',
       'Body_Color_Original',
       'Upholstery',
       'Body',
       'Nr._of_Doors',
       'Nr._of_Seats',
       'Model_Code',
       'Gearing_Type',
       'Displacement',
       'Cylinders',
       'Weight',
       'Drive_chain',
       'Fuel',
       'Consumption',
       'CO2_Emission',
       'Emission_Class',
       '_Comfort___Convenience_',
       '_Entertainment___Media_',
       '_Extras_',
       '_Safety___Security_',
       'description',
       'Emission_Label',
       'Gears',
       'Country_version',
       'Electricity_consumption',
       'Last_Service_Date',
       'Other_Fuel_Types',
       'Availability',
       'Last_Timing_Belt_Service_Date',
       'Available_from'],
      dtype='object')

In [105]:
df.columns = df.columns.str.lower()

In [106]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kw',
       'hp',
       'type',
       'previous_owners',
       'next_inspection',
       'inspection_new',
       'warranty',
       'full_service',
       'non_smoking_vehicle',
       'null',
       'make',
       'model',
       'offer_number',
       'first_registration',
       'body_color',
       'paint_type',
       'body_color_original',
       'upholstery',
       'body',
       'nr._of_doors',
       'nr._of_seats',
       'model_code',
       'gearing_type',
       'displacement',
       'cylinders',
       'weight',
       'drive_chain',
       'fuel',
       'consumption',
       'co2_emission',
       'emission_class',
       '_comfort___convenience_',
       '_entertainment___media_',
       '_extras_',
       '_safety___security_',
       'description',
       'emission_label',
       'gears',
       'country_version',
       'electricity_consumption',
       'last_service_date',
       'other_fuel_types',
       'availability',
       'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

In [108]:
df.rename(columns={"_comfort___convenience_":"comfort_convenience","_entertainment___media_":"entertainment_media","_extras_":"extras","_safety___security_":"safety_security"}, inplace=True)

In [109]:
df.columns

Index(['url',
       'make_model',
       'short_description',
       'body_type',
       'price',
       'vat',
       'km',
       'registration',
       'prev_owner',
       'kw',
       'hp',
       'type',
       'previous_owners',
       'next_inspection',
       'inspection_new',
       'warranty',
       'full_service',
       'non_smoking_vehicle',
       'null',
       'make',
       'model',
       'offer_number',
       'first_registration',
       'body_color',
       'paint_type',
       'body_color_original',
       'upholstery',
       'body',
       'nr._of_doors',
       'nr._of_seats',
       'model_code',
       'gearing_type',
       'displacement',
       'cylinders',
       'weight',
       'drive_chain',
       'fuel',
       'consumption',
       'co2_emission',
       'emission_class',
       'comfort_convenience',
       'entertainment_media',
       'extras',
       'safety_security',
       'description',
       'emission_label',
       'gears',
       'country_version',
       'electricity_consumption',
       'last_service_date',
       'other_fuel_types',
       'availability',
       'last_timing_belt_service_date',
       'available_from'],
      dtype='object')

In [363]:
#missing data

total = df.isnull().sum().sort_values(ascending=False)

percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)

missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])

missing_data.head(50)

,Total,Percent
kw,15919,1.000000
last_timing_belt_service_date,15903,0.998995
electricity_consumption,15782,0.991394
available_from,15647,0.982913
last_service_date,15353,0.964445
availability,15284,0.960111
other_fuel_types,15039,0.944720
next_inspection,12384,0.777938
inspection_new,11987,0.753000
emission_label,11934,0.749670
model_code,10941,0.687292
non_smoking_vehicle,8742,0.549155
country_version,8333,0.523463
full_service,7704,0.483950
weight,6974,0.438093
drive_chain,6858,0.430806
prev_owner,6828,0.428921
previous_owners,6640,0.417112
paint_type,5772,0.362586
cylinders,5680,0.356806
warranty,5420,0.340474
gears,4712,0.295998
vat,4513,0.283498
body_color_original,3759,0.236133
upholstery,3720,0.233683
offer_number,3175,0.199447
emission_class,3021,0.189773
extras,2962,0.186067
consumption,1906,0.119731
co2_emission,1808,0.113575
first_registration,1597,0.100320
entertainment_media,1374,0.086312
safety_security,982,0.061687
nr_of_seats,977,0.061373
comfort_convenience,920,0.057793
body_color,597,0.037502
displacement,496,0.031158
nr_of_doors,212,0.013317
body,60,0.003769
body_type,60,0.003769
short_description,46,0.002890
fuel,0,0.000000
gearing_type,0,0.000000
make_model,0,0.000000
model,0,0.000000
make,0,0.000000
description,0,0.000000
null,0,0.000000
type,0,0.000000
hp,0,0.000000

In [15]:
df['Inspection new'] = df['Inspection new'].astype('str').str.split(',', expand=True)

In [16]:
df['Inspection new'].apply(tuple).value_counts()

(n, a, n)                            11987
([, ', \, n, Y, e, s, \, n, ')        3490
(\n, Y, e, s, \n)                      362
([, ', \, n, Y, e, s, \, n, ', ])       80
Name: Inspection new, dtype: int64

In [63]:
dct = []

for i in df.loc[:, 'kW']:
    if str(i) == 'nan':
        dct.append(['Nothing_kW'])
    else:
        dct.append([i])
dct[:2]

[['Nothing_kW'], ['Nothing_kW']]

## Import Libraries and Data

In [ ]:
df_dummied.to_csv("final_scout_dummy.csv", index=False)

In [ ]:
df.to_csv("final_scout_not_dummy.csv", index=False)