In [ ]:
pyodbc

In [ ]:
pip install pyodbc

In [1]:
import pyodbc

## SQL Server Connection

In [2]:
def create_server_connection(driver, server, database, user, password):
    conn = None
    try: 
        conn = pyodbc.connect(DRIVER = driver, SERVER= server, DATABASE = database, UID= user, PWD= password)
        print("Successfull")
    except Error as err:
        print(f"Error:'{err}'")
    return conn

In [ ]:
### SQL Server Auethentication
driver = '{ODBC Driver 17 for SQL Server}'
server = 'localhost' #şu anda server her birimizin kendi makinesi
database = 'master'#yeni bir db oluşturacağız
user = 'sa' 
password = '------'
conn = create_server_connection(driver, server, database, user, password)

In [ ]:
pyodbc.drivers()

### windows authentication

In [3]:
conn_string = "driver={ODBC Driver 17 for SQL Server}; server=localhost; database=master; TRUSTED_CONNECTION=yes;"

In [4]:
conn = pyodbc.connect(conn_string);

In [ ]:
crs = conn.cursor() ## corsor: that help catch the information in the database

In [5]:
conn.autocommit = True

##### creating def function to create database

In [7]:
create_database_query = 'Create database test_1'

In [6]:
def create_database (conn, create_database_query):
    crs = conn.cursor()
    try:
        crs.execute(create_database_query)
        print("Database is created successfully")
    except Error as err:
        print(f"Error:'{err}'")

In [8]:
create_database(conn, create_database_query)

Database is created successfully

In [9]:
def execute_query (conn, query):
    crs = conn.cursor()
    try:
        crs.execute(query)
        conn.commit()
        print("query works successfully")
    except Error as err:
        print(f"Error:'{err}'")

In [13]:
query = 'USE Test_1'
execute_query(conn, query)

query works successfully

### Creating Table

In [14]:
query = 'CREATE TABLE TestA (\
           ID INT IDENTITY (1,1) NOT NULL, \
           FirstName VARCHAR(255) NOT NULL,\
           LastName VARCHAR(255) NOT NULL,\
           PRIMARY KEY(ID))'
execute_query(conn, query)

query works successfully

#### Inserting Data for Table

In [15]:
crs = conn.cursor()
crs.execute("INSERT TestA (FirstName, LastName) VALUES ('Bob', 'Marley')")

In [16]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Bruce', 'Lee')

In [17]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Tom', 'Hanks')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Bart', 'Simpson')

In [18]:
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Tom', 'Cat')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Jerry', 'Mouse')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Owen', 'William')
crs.execute("INSERT TestA (FirstName, LastName) VALUES (?,?)",'Stefan', 'Müller')

### DELETE

In [19]:
crs.execute("DELETE FROM TestA WHERE FirstName = 'Jerry'")

In [20]:
crs.execute("DELETE FROM TestA WHERE FirstName = ?", 'Stefan')

### ROWCOUNT

In [21]:
crs.rowcount

1

In [22]:
print(crs.rowcount, "row(s) deleted")

1 row(s) deleted

### READ DATA

##### FETCHONE()

In [24]:
crs.execute('SELECT FirstName, LastName FROM TestA')
row = crs.fetchone()  ## return first variable or record at TestA table
row

('Bob', 'Marley')

In [25]:
row.FirstName

'Bob'

In [26]:
row.LastName

'Marley'

##### fetchall()

In [27]:
crs.execute('SELECT ID, FirstName, LastName FROM TestA')
rows = crs.fetchall()
rows

[(1, 'Bob', 'Marley'),
 (2, 'Bruce', 'Lee'),
 (3, 'Tom', 'Hanks'),
 (4, 'Bart', 'Simpson'),
 (5, 'Tom', 'Cat'),
 (7, 'Owen', 'William')]

In [28]:
for row in rows:
    print(row.ID, row.FirstName, row.LastName)

1 Bob Marley
2 Bruce Lee
3 Tom Hanks
4 Bart Simpson
5 Tom Cat
7 Owen William

In [29]:
type(rows)

list

In [30]:
crs.execute("""SELECT ID, FirstName, LastName 
                FROM TestA""")
rows = crs.fetchall()
rows

[(1, 'Bob', 'Marley'),
 (2, 'Bruce', 'Lee'),
 (3, 'Tom', 'Hanks'),
 (4, 'Bart', 'Simpson'),
 (5, 'Tom', 'Cat'),
 (7, 'Owen', 'William')]

In [31]:
crs.execute("""SELECT ID, FirstName, LastName 
                FROM TestA
                WHERE FirstName = ? and LastNAme = ?""", ['Owen', 'William'])
rows = crs.fetchall()
rows

[(7, 'Owen', 'William')]