.       - Any Character Except New Line         ## yeni satır karakteri hariç bütün karakterleri temsil etmek için kullanılır.

\d      - Digit (0-9)

\D      - Not a Digit (0-9)

\w      - Word Character (a-z, A-Z, 0-9, _)

\W      - Not a Word Character

\s      - Whitespace (space, tab, newline)

\S      - Not Whitespace (space, tab, newline)


\b      - Word Boundary

\B      - Not a Word Boundary

^       - Beginning of a String

$       - End of a String


[]      - Matches Characters in brackets

[^ ]    - Matches Characters NOT in brackets

|       - Either Or

( )     - Group


Quantifiers:

*       - 0 or More

+       - 1 or More

?       - 0 or One

{3}     - Exact Number

{3,4}   - Range of Numbers (Minimum, Maximum)



#### Sample Regexs ####


[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+

In [133]:
import re
import pandas as pd
import numpy as np

## findall (find-all)

In [ ]:
## findall (find-all)  re.findall("Python", metin) metin içinde ne kadar Python kelimesi geçiyorsa bulur. Yani genel kapsamlı "serch" için kullanılır

In [170]:
NameAge = """Jenice is 22 and Theon is 33
             Gabriel is 44 and Jonet is 21"""

In [174]:
ages = re.findall("\d{1,3}", NameAge)
names = re.findall("[A-Z][a-z]*", NameAge)

In [165]:
print(ages)

['22', '33', '44', '21']

In [175]:
ageDict = {}

x = 0

for eachname in names :
    ageDict[eachname] = ages[x]
    x += 1
    
print(ageDict)

{'Gabriel2': '22'}

## search

In [ ]:
## search bir karakter dizisi içinde eşleşen karakterleri arar, eğer eşleşen karakter dizisi bulamazsa "None" verir.

In [176]:
a = "Python güçlü bir dildir"
b= re.search("güçlü", a)

In [177]:
b.group()

'güçlü'

In [12]:
b.span()

(7, 12)

In [188]:
lis = ["elma", "armut", "kiraz"]

In [189]:
re.search("kiraz", lis)

TypeError: expected string or bytes-like object

In [191]:
for i in lis:
    if re.search("kiraz", i):
        print(i)

kiraz

In [19]:
liste[2] = "kivi"

In [3]:
if re.search("inform", "we need to inform him with the latest information"):
    print("kaptın bu işi")

kaptın bu işi

In [4]:
x = re.findall("inform", "we need to inform him with the latest information")
for i in x:
    print(i)

inform
inform

In [193]:
text = "A78L41K"

In [197]:
num = re.search("\d+", text)
num

In [74]:
num.group()

'78'

In [77]:
text = "8PM19NIM"

In [80]:
nondigi= re.search("\D", text)
nondigi

In [204]:
text = "my phone number is 555-666-7777"

In [207]:
telno = re.findall("\d+", text)
telno

['555', '666', '7777']

In [115]:
telno = re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)
telno.group()

'555-666-7777'

In [119]:
telno = re.search("\d+"  +  "-"  +  "\d+"  +  "-"  +  "\d+", text)
telno

In [208]:
value = "O 1, t 10, o 100. 100000"

In [210]:
re.findall("\d{2}", value)

['10', '10', '10', '00', '00']

In [211]:
re.findall("\d{1,6}", value)

['1', '10', '100', '100000']

## [ ] (Köşeli Parantez)

In [5]:
a = ["23BH56","TY76Z","4Y7UZ","TYUDZ","34534"]

In [217]:
c = re.match("[0-9]", "ab")
print(c)

None

In [38]:
for i in a:
    if re.match("[0-9]", i):
        print(i)

23BH56
4Y7UZ
34534

In [ ]:
## TY76Z çıkarmak istedik nasıl yapıcaz?

In [6]:
for i in a:
    if re.match("[A-Z][A-Z][0-9]", i):
        print(i)

## [A-Z][A-Z][0-9]

TY76Z

In [7]:
regex = "v"
target = "Paris is for lovers"
re.search(regex, target)

## . (nokta)

In [223]:
kızlar = "esma, esra, ayşe ve zeynep bugun okula gittiler"
re.findall("es.a", kızlar)

['esma', 'esra']

In [18]:
a = ['23BH56', 'TY76Z', '4Y7UZ', 'TYUDZ',
'34534', "1agAY54"]

In [21]:
for i in a:                      ## Herhangi bir karakter ile başlayacak.(Sayı,harf veya karakter)
   if re.match(".[0-9a-z]", i):  ## Ardından bir sayı veya küçük harflerden herhangi birisi gelecek.
    print(i)                     ## Devamındaki karakterler ne olursa olsun

23BH56
34534
1agAY54

## * (Yıldız)

In [ ]:
## yıldık karekteri kendinden önce gelen karekterin tekrarlandığı veya hiç tekrarlanmadığı durumları bulmak 
## için kullanılır. Ancak diğer şartlarada uygun olması gerekir. Burda "s" olacak "a" dan önce ve sonrasında
## "t" olacak.

In [22]:
t = ["st", "sat", "saat", "saaat", "falanca"]

for i in t:
    if re.match("sa*t", i):
        print(i)

st
sat
saat
saaat

In [23]:
w = ["ahmet", "recep", "ismet", "mehmet", "izzet"]
for i in w:
    if re.match(".*met", i):
        print(i)

ahmet
ismet
mehmet

## + (Artı)

In [225]:
b = ["ahmet", "mehmet", "2met", "zeynep"]

for i in b:
    if re.match(".+met", i) :
        print(i)

ahmet
mehmet
2met

In [231]:
a = "ahmet ve mehmet bugun met okuldan gec geldiler"
re.findall(".+met", a)

['ahmet ve mehmet bugun met']

In [ ]:
re.match("[A-Z]+[0-9]",x)  ## ne demek olabilir.

## { } (Küme Parantezi)¶

In [233]:
b = ["st", "sat", "saat", "saaat"]
for i in b:
    if re.match("sa{0,3}", i):
        print(i)

st
sat
saat
saaat

In [46]:
b = ["st", "sat", "saat", "saaat"]
for i in b:
    if re.match("sa{0,3}", i):
        print(i)

st
sat
saat
saaat

## ^ (Şapka)

In [48]:
q = ["at", "katkı", "fakat", "atkı", "rahat", "mat", "yat", "sat", "satılık", "katılım"]

In [49]:
for i in q:
    if re.search("^at", i):
        print(i)

at
atkı

## $ (Dolar)

In [50]:
for i in q:
    if re.search("at$", i):
        print(i)

at
fakat
rahat
mat
yat
sat

## | (Dik Çizgi)  (veya)¶

In [51]:
for i in q:
    if re.search("^at|at$", i):
        print(i)

at
fakat
atkı
rahat
mat
yat
sat

## ( ) (Parantez)

## Ondalık Sayıların Yerini Tutan Özel Dizi: \d

In [52]:
a = ["5 Ocak", "27Mart", "4 Ekim", "Nisan 3"]

In [53]:
for i in a:
    if re.search("\d\s[A-Z]", i):
        print(i)

5 Ocak
4 Ekim

## Alfanümerik Karakterlerin Yerini Tutan Özel Dizi: \w

In [ ]:
## büyük/kücük harf, sayılar ve "_" arar.

In [55]:
a = "abetAB145_$^?"
b = re.search("\w*", a)
b.group()

'abetAB145_'

In [ ]:
## \w muadili [A-Za-z0-9_]

## Boşluk, tab Karakterlerin Yerini Tutan Özel Dizi: \s

In [56]:
a = ["5 Ocak", "27Mart", "4 Ekim", "Nisan 3"]

In [61]:
for i in a:
    if re.search("\d\s", i):
        print(i)

5 Ocak
4 Ekim

## sub() metin içinde değişiklik yapmamıza yardımcı olan komut.

In [62]:
b = "Paris is for lovers"
re.sub("is", "WAS", b)

'ParWAS WAS for lovers'

In [63]:
b = "Paris is for lovers"
re.sub("is", "WAS", b, count = 1)

'ParWAS is for lovers'

In [235]:
phone = "2004-949-559"

In [238]:
output = re.sub("\D","*",phone)
output

'2004*949*559'

In [128]:
output = re.sub("-"," ",phone)
output

'2004 949 559'

## split () metni istediğimiz şekilde bölmeye yarıyor.

In [ ]:
b = "Paris is for lovers"

In [64]:
re.split(" ", b)

['Paris', 'is', 'for', 'lovers']

In [65]:
re.split("i", b)

['Par', 's ', 's for lovers']

In [66]:
car = "Audi A1"
re.split(" ", car)

['Audi', 'A1']

## contains

In [134]:
s = pd.Series(["a3", "b4", "c5", "d"])

In [131]:
s.str.contains("\d")

0     True
1     True
2     True
3    False
dtype: bool

In [137]:
for i in s:
    if re.search("\d", i):
        print(i)

a3
b4
c5

In [140]:
s.apply(lambda x : True if re.search("\d", x) else False)

0     True
1     True
2     True
3    False
dtype: bool

## extract

In [141]:
s.str.extract("(\d)")

     0
0    3
1    4
2    5
3  NaN

In [142]:
s.str.extract("(\w)")

   0
0  a
1  b
2  c
3  d

In [143]:
s = pd.Series(["a3aaa", "b4aa", "c5aa"])

In [257]:
s.str.extract("(\D+)")

   0
0  a
1  b
2  c

In [258]:
s.str.extract("(\w)\d(\w\w)") # parantez içine almadığın şeyi atlıyor extract

   0   1
0  a  aa
1  b  aa
2  c  aa

In [148]:
w= pd.Series(['40 l/100 km (comb)',
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)',
       '7.8 l/100 km (comb)'])
w

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [152]:
w.str.extract("(\d\d|\d.\d|\d)")

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [157]:
w.str.extract("(\d\d|\d.\d|\d).+(\d\d\d)")

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [160]:
q = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
q

0     06/2020\n\n4.9 l/100 km (comb)
1     11/2020\n\n166 g CO2/km (comb)
2     10/2019\n\n5.3 l/100 km (comb)
3     05/2022\n\n6.3 l/100 km (comb)
4     07/2019\n\n128 g CO2/km (comb)
5     06/2022\n\n112 g CO2/km (comb)
6     01/2022\n\n5.8 l/100 km (comb)
7     11/2020\n\n106 g CO2/km (comb)
8     04/2019\n\n105 g CO2/km (comb)
9     08/2020\n\n133 g CO2/km (comb)
10    04/2022\n\n133 g CO2/km (comb)
dtype: object

In [162]:
q.str.extract('(\d{2}).(\d{4})')

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [161]:
q.str.extract('(\S+)/(\S+)')

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022