In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset.csv")

In [3]:
df.head()

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
1,2020-04-24 11:50:39 UTC,2294359932054536986,1515966223509089906,2.268105e+18,electronics.tablet,samsung,162.01,1.515916e+18
2,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
3,2020-04-24 14:37:43 UTC,2294444024058086220,2273948319057183658,2.268105e+18,electronics.audio.headphone,huawei,77.52,1.515916e+18
4,2020-04-24 19:16:21 UTC,2294584263154074236,2273948316817424439,2.268105e+18,NaN,karcher,217.57,1.515916e+18

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2633521 entries, 0 to 2633520
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   order_id       int64
 2   product_id     int64
 3   category_id    float64
 4   category_code  object
 5   brand          object
 6   price          float64
 7   user_id        float64
dtypes: float64(3), int64(2), object(3)
memory usage: 160.7+ MB

In [5]:
df.isnull().sum()

event_time             0
order_id               0
product_id             0
category_id       431954
category_code     612202
brand             506005
price             431954
user_id          2069352
dtype: int64

In [6]:
df2 = df[df["product_id"].duplicated()==True].reset_index(drop=True)

In [7]:
df2.isnull().sum()

event_time             0
order_id               0
product_id             0
category_id       430650
category_code     602452
brand             502835
price             430650
user_id          2059574
dtype: int64

In [8]:
df2 = df2.iloc[:,[0,4,5,6]]

In [27]:
df2.head()

                event_time                category_code    brand    price
0  2020-04-24 11:50:39 UTC           electronics.tablet  samsung   162.01
1  2020-04-24 14:37:43 UTC  electronics.audio.headphone   huawei    77.52
2  2020-04-26 09:33:47 UTC       electronics.smartphone    apple  1387.01
3  2020-04-26 09:33:47 UTC       electronics.smartphone    apple  1387.01
4  2020-04-26 09:33:47 UTC       electronics.smartphone    apple  1387.01

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2608408 entries, 0 to 2608407
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   event_time     object
 1   category_code  object
 2   brand          object
 3   price          float64
dtypes: float64(1), object(3)
memory usage: 79.6+ MB

In [10]:
df2.dropna(inplace=True, axis=0)

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1519006 entries, 0 to 2608407
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   event_time     1519006 non-null  object
 1   category_code  1519006 non-null  object
 2   brand          1519006 non-null  object
 3   price          1519006 non-null  float64
dtypes: float64(1), object(3)
memory usage: 57.9+ MB

In [ ]:
# df2["event_time"] = df2["event_time"].astype("datetime64")

In [12]:
df2["event_time"] = pd.to_datetime(df2["event_time"])

In [13]:
df2["year"] = df2["event_time"].dt.strftime("%Y")

In [14]:
df2["subcat"] = df2["category_code"].str.split(".")

In [15]:
df2["subcat"].apply(pd.Series)[0]

0          electronics
1          electronics
2          electronics
3          electronics
4          electronics
              ...
2608402    electronics
2608403    electronics
2608404    electronics
2608405     appliances
2608407     appliances
Name: 0, Length: 1519006, dtype: object

In [ ]:
df2.groupby(["category","year"]).agg({"price": "sum"})

In [17]:
from datetime import date, time, datetime

In [24]:
datetime(15,15,15)

ValueError: month must be in 1..12

In [ ]:
def total_sales():
    x = input("category giriniz:")
    y = input("yılı giriniz:")
    
    for x,y,z in liste:

In [29]:
df3 = pd.read_excel("veri.xlsx")

In [70]:
df3.groupby(["year","category"]).sum()["sales"]

year  category
2012  cloth          12
      computer       75
      furniture     200
2013  cloth          98
      computer       25
      furniture      79
2014  cloth          25
      computer      150
      electronic     88
      furniture     100
Name: sales, dtype: int64

In [68]:
df

                 sales
year category
2012 cloth          12
     computer       75
     furniture     200
2013 cloth          98
     computer       25
     furniture      79
2014 cloth          25
     computer      150
     electronic     88
     furniture     100

In [61]:
df["year","category","sales"] = df3.groupby(["year","category"]).agg({"sales":sum})

                 sales  (year, category, sales)
year category
2012 cloth          12                       12
     computer       75                       75
     furniture     200                      200
2013 cloth          98                       98
     computer       25                       25
     furniture      79                       79
2014 cloth          25                       25
     computer      150                      150
     electronic     88                       88
     furniture     100                      100

In [56]:
zip(df["year"], df["category"], df["sales"])

KeyError: 'year'

In [50]:
def total(year,category):
    
    return df3.groupby(["year","category"]).agg({"sales":sum})["sales"]

In [51]:
df3.groupby(["year","category"]).agg({"sales":sum})["sales"]

year  category
2012  cloth          12
      computer       75
      furniture     200
2013  cloth          98
      computer       25
      furniture      79
2014  cloth          25
      computer      150
      electronic     88
      furniture     100
Name: sales, dtype: int64

In [52]:
for a, b in df :
    if x==a and y==b:
        return da

year  category
2012  cloth          12
      computer       75
      furniture     200
2013  cloth          98
      computer       25
      furniture      79
2014  cloth          25
      computer      150
      electronic     88
      furniture     100
Name: sales, dtype: int64