In [5]:
import pandas as pd

In [6]:
student= ["Arin",23,"CE"]
print(student)
print(type(student))

['Arin', 23, 'CE']
<class 'list'>

In [7]:
# yukarıdaki list yapısını series çevirdik.
ps_student = pd.Series(student)
print(ps_student)
print(type(ps_student))

0    Arin
1      23
2      CE
dtype: object
<class 'pandas.core.series.Series'>

In [9]:
student = {"name":"Arin",
           "age":"23",
           "department":"CE"}
print(student)
print(type(student))

{'name': 'Arin', 'age': '23', 'department': 'CE'}
<class 'dict'>

In [10]:
# yukarıdaki dict yapısını series çevirdik.
ps_student = pd.Series(student)
print(ps_student)
print(type(ps_student))

name          Arin
age             23
department      CE
dtype: object
<class 'pandas.core.series.Series'>

In [11]:
student = pd.Series(["Arin",23,"CE"])
print(student)
print(type(student))
#kullandığımız değerlere göre dtype int float gibi tipler olabilir.

0    Arin
1      23
2      CE
dtype: object
<class 'pandas.core.series.Series'>

In [12]:
number = pd.Series([15,23,48])
print(number)
print(type(number))

0    15
1    23
2    48
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
booleans = pd.Series([True, False, True])
print(booleans)
print(type(booleans))

0     True
1    False
2     True
dtype: bool
<class 'pandas.core.series.Series'>

In [16]:
# belirlediğimiz 
student = pd.Series(data=["Arin",23,"CE"],index=["name","age","department"])
print(student)
print(type(student))
print(student.values)
print()
print(student.index)
print()
print(student.shape)   # bir tuples döndürüyor. 3 elemanlı tek boyutlu.
print()
print(student.ndim)
print()
print(student.size)
print()
print(student.name)
print()
print(student.dtype)

name          Arin
age             23
department      CE
dtype: object
<class 'pandas.core.series.Series'>
['Arin' 23 'CE']

Index(['name', 'age', 'department'], dtype='object')

(3,)

1

3

None

object

In [18]:
student.name = "Maradona"
print(student.name)

Maradona

In [19]:
"Arin" in student.values

True

In [21]:
numbers = pd.Series([4,2.5,2])
print(numbers)
print(numbers.sum())
print(numbers.mean())
print(numbers.product())

0    4.0
1    2.5
2    2.0
dtype: float64
8.5
2.8333333333333335
20.0

In [22]:
import pandas as pd

In [23]:
student = pd.Series(data=["Arin","Software",23,"CE"], index=["name","surname","age","department"])
print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [25]:
# data ve index yazmasak bile default olarak ilkini data sonrasını ise index olarak alıyor.
student = pd.Series(["Arin","Software",23,"CE"],["name","surname","age","department"])
print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [26]:
print(student["name"])

Arin

In [29]:
print(student["name","age"])

KeyError: 'key of type tuple not found and not a MultiIndex'

In [31]:
# yukarıdaki hatayı engellemek yani 1 den fazla değişken var ise iç içe iki liste olarak yazdırmalıyız.
print(student[["name","age"]])
print(type(student[["name","age"]]))

name    Arin
age       23
dtype: object
<class 'pandas.core.series.Series'>

In [32]:
print(student[1])  # index numarası olarak bunu vermemize rağmen çağırdığımızda geliyor.

Software

In [33]:
print(student[[0,1]])

name           Arin
surname    Software
dtype: object

In [35]:
print(student[0:3])

name           Arin
surname    Software
age              23
dtype: object

In [36]:
print(student[0:])

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [38]:
print(student[-2:])

age           23
department    CE
dtype: object

In [39]:
print(student["name":"age"])  # bu şekilde çağırınca son değişkeni dahil ediyor.

name           Arin
surname    Software
age              23
dtype: object

In [ ]:
# loc -> location ,  iloc-> index location

In [40]:
print(student.loc["department"])

CE

In [42]:
print(student.iloc[1])

Software

In [41]:
print(student.iloc["department"])  # index numarası ile çalışıyor.

TypeError: Cannot index by location index with a non-integer key

In [44]:
print(student)
print()
student["name"]="Elis"
print(student)
student.iloc[2] = 15
print()
print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

name              Elis
surname       Software
age                 23
department          CE
dtype: object

name              Elis
surname       Software
age                 15
department          CE
dtype: object

In [45]:
print(student)
print()
student.drop("name")   # drop bu şekilde kullanılınca orjinal seride değişiklik yapmazb
print(student)

name              Elis
surname       Software
age                 15
department          CE
dtype: object

name              Elis
surname       Software
age                 15
department          CE
dtype: object

In [46]:
print(student)
print()
student2 = student.drop("name")   # sadece yapılan değişikliği görsel olarak görebiliriz.
print(student2)
print()
print(student)

name              Elis
surname       Software
age                 15
department          CE
dtype: object

surname       Software
age                 15
department          CE
dtype: object

name              Elis
surname       Software
age                 15
department          CE
dtype: object

In [47]:
print(student)
print()
student.drop("name",inplace=True)  # bununla kalıcı olarak silebiliriz.
print(student)

name              Elis
surname       Software
age                 15
department          CE
dtype: object

surname       Software
age                 15
department          CE
dtype: object

In [52]:
student = pd.Series(["Arin","Softwaret",23,"CE"],["name","surname","age","department"])
print(student)
print()
print(len(student))
print(list(student))
print(dict(student))
print(max(student))  # int ve str tipleri olduğundan bunları sıralayamıyor.
print(sorted(student))   # int ve str tipleri olduğundan bunları sıralayamıyor.

name               Arin
surname       Softwaret
age                  23
department           CE
dtype: object

4
['Arin', 'Softwaret', 23, 'CE']
{'name': 'Arin', 'surname': 'Softwaret', 'age': 23, 'department': 'CE'}

TypeError: '>' not supported between instances of 'int' and 'str'

In [55]:
student = pd.Series(["Arin","Software","CE"],["name","surname","department"])
print(max(student))
print(sorted(student))

Software
['Arin', 'CE', 'Software']

In [ ]:
()