In [1]:
import numpy as np

In [2]:
my_list = [1,2,3,4,5,6,7,8]

In [4]:
a = np.array(my_list)
a

array([1, 2, 3, 4, 5, 6, 7, 8])

In [5]:
b = a[:3]
b

array([1, 2, 3])

In [6]:
b[0] = 88

In [7]:
b

array([88,  2,  3])

In [8]:
a

array([88,  2,  3,  4,  5,  6,  7,  8])

In [9]:
c = a.copy()
c[1] = 22
c

array([88, 22,  3,  4,  5,  6,  7,  8])

In [10]:
a

array([88,  2,  3,  4,  5,  6,  7,  8])

In [11]:
a[::-1]

array([ 8,  7,  6,  5,  4,  3,  2, 88])

In [13]:
b = np.array([[1,2,3], [6,7,8]])
b

array([[1, 2, 3],
       [6, 7, 8]])

In [14]:
b[1,1] = 77     # indeksleme
b

array([[ 1,  2,  3],
       [ 6, 77,  8]])

In [15]:
b[:,1] = 99   # slicing/// birden fazla değere atama yapma işlemine broadcasting denir.
b

array([[ 1, 99,  3],
       [ 6, 99,  8]])

In [16]:
np.zeros((3,3))   # tuple içinde gösterdi.

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [17]:
np.ones((3,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [18]:
np.full((3,3), 9)

array([[9, 9, 9],
       [9, 9, 9],
       [9, 9, 9]])

In [19]:
np.empty((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [27]:
np.empty((4,4))

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [20]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [21]:
np.arange(5,60,3)

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53,
       56, 59])

In [22]:
np.linspace(5,60,3)

array([ 5. , 32.5, 60. ])

In [23]:
np.linspace(2,10,5)

array([ 2.,  4.,  6.,  8., 10.])

In [24]:
np.random.rand(3,3)   # 0-1 arasında 3*3 lük bir matris oluşturdu.

array([[0.92330743, 0.48563618, 0.11763658],
       [0.07231198, 0.97411532, 0.35273315],
       [0.34951435, 0.08353554, 0.3730921 ]])

In [25]:
np.random.randn(3,3)   # ortalaması 0 varyans 1 olacak şekilde değer alır.

array([[ 1.09536836,  0.94911363,  0.97136628],
       [ 1.43030962, -0.67513283,  0.045421  ],
       [ 0.35487367, -0.96020399, -1.70710293]])

In [26]:
np.random.randint(5,10,size=(3,3))

array([[7, 5, 8],
       [6, 6, 7],
       [9, 6, 5]])

In [28]:
z = np.random.randint(2,15, size = (5,3))
z

array([[13,  6,  5],
       [ 3,  2,  3],
       [14,  3, 14],
       [ 5,  7,  4],
       [14,  8,  3]])

In [29]:
z.shape

(5, 3)

In [31]:
z.size   # reshape yaparken satır ve sütun çarpımı kadar eleman olması gerekir.

15

In [30]:
z = z.reshape(3,5)
z

array([[13,  6,  5,  3,  2],
       [ 3, 14,  3, 14,  5],
       [ 7,  4, 14,  8,  3]])

In [32]:
z = z.reshape(-1,5)
z

array([[13,  6,  5,  3,  2],
       [ 3, 14,  3, 14,  5],
       [ 7,  4, 14,  8,  3]])

In [34]:
z = z.ravel()   # yukarıda orjinal z arrayinin değerlerini tek bir vektör olarak yazar.
z

array([13,  6,  5,  3,  2,  3, 14,  3, 14,  5,  7,  4, 14,  8,  3])

In [35]:
z.min()

2

In [36]:
z.max()

14

In [37]:
z.argmax()

6

In [38]:
z.argmin()

4

In [39]:
my_arr = np.array([0,1,2,3,4,5,6,7,8,9]).reshape(5,2)
my_arr

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [40]:
my_arr_1 = np.array([3,4,5,6,7,8,9,10,11,12]).reshape(5,2)
my_arr_1

array([[ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [41]:
my_con = np.concatenate([my_arr,my_arr_1])
my_con

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [42]:
my_con = np.concatenate([my_arr,my_arr_1],axis=1)  
my_con

array([[ 0,  1,  3,  4],
       [ 2,  3,  5,  6],
       [ 4,  5,  7,  8],
       [ 6,  7,  9, 10],
       [ 8,  9, 11, 12]])

In [43]:
my_con

array([[ 0,  1,  3,  4],
       [ 2,  3,  5,  6],
       [ 4,  5,  7,  8],
       [ 6,  7,  9, 10],
       [ 8,  9, 11, 12]])

In [44]:
my_con[1,[2,3]]   # fancy index

array([5, 6])

In [45]:
my_con[[3,1],2]

array([9, 5])

In [46]:
my_con[0:2,1:3]   # slicing

array([[1, 3],
       [3, 5]])

In [47]:
my_con[:,[0,3]]  #slicing and fancy

array([[ 0,  4],
       [ 2,  6],
       [ 4,  8],
       [ 6, 10],
       [ 8, 12]])

In [48]:
a = np.array([[1,2], [3,4]])
b = np.array([[5,6], [7,8]])

In [49]:
a

array([[1, 2],
       [3, 4]])

In [50]:
b

array([[5, 6],
       [7, 8]])

In [52]:
x = np.stack((a,b))
x

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [53]:
x.ndim

3

In [54]:
x.shape

(2, 2, 2)

In [56]:
y = np.hstack((a,b))   # horizontal yani yatayda işlem yapıyor.  axis=1 gibi düşünelim.
y

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [58]:
y = np.vstack((a,b))   # vertical yani dikeyde işlem yapıyor.    axis=0 gibi düşünelim.
y

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [59]:
array_1 = np.array([[1,2,3,4],
                    [5,6,7,8],
                    [9,10,11,12]])
array_1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [60]:
bigger_than_5 = array_1>5
bigger_than_5

array([[False, False, False, False],
       [False,  True,  True,  True],
       [ True,  True,  True,  True]])

In [62]:
array_1[bigger_than_5]

array([ 6,  7,  8,  9, 10, 11, 12])

In [63]:
array_1[array_1<5]

array([1, 2, 3, 4])

In [64]:
array_1[(array_1<10)&(array_1>3)]

array([4, 5, 6, 7, 8, 9])

In [65]:
x = np.array([[1,2], [3,4]])
y = np.array([[5,6], [7,8]])

In [66]:
x+y

array([[ 6,  8],
       [10, 12]])

In [67]:
x-y

array([[-4, -4],
       [-4, -4]])

In [68]:
np.subtract(x,y)

array([[-4, -4],
       [-4, -4]])

In [69]:
np.multiply(x,y)

array([[ 5, 12],
       [21, 32]])

In [70]:
x*y

array([[ 5, 12],
       [21, 32]])

In [71]:
x/y

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

In [72]:
np.divide(x,y)

array([[0.2       , 0.33333333],
       [0.42857143, 0.5       ]])

In [73]:
x**2

array([[ 1,  4],
       [ 9, 16]], dtype=int32)

In [74]:
np.sqrt(np.power(x,2))

array([[1., 2.],
       [3., 4.]])

In [75]:
np.log(x)

array([[0.        , 0.69314718],
       [1.09861229, 1.38629436]])

In [76]:
np.exp(x)

array([[ 2.71828183,  7.3890561 ],
       [20.08553692, 54.59815003]])

## PANDAS

In [78]:
import pandas as pd

In [79]:
my_list = [1,2,3,4,5,6,7,8]
a=np.array(my_list)
a

array([1, 2, 3, 4, 5, 6, 7, 8])

In [81]:
pd.Series(my_list)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [82]:
labels = ['X','y','z', 'h']
my_list = [5, 10, 15, 20]
arr = np.array([25, 50, 75, 100])
d = {'a': 10, 'b': 20, 'c': 30, 'd':40}

In [83]:
pd.Series(my_list,index=labels)

X     5
y    10
z    15
h    20
dtype: int64

In [85]:
pd.Series(arr)

0     25
1     50
2     75
3    100
dtype: int32

In [86]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [87]:
mix_data = [7,"dog",False,np.arange]

In [88]:
pd.Series(mix_data)

0                             7
1                           dog
2                         False
3    <built-in function arange>
dtype: object

In [89]:
ser = pd.Series([5,10,15,20,25,30], index = ['USA', 'Germany','France', 'UK','Turkey','Greece'])

In [90]:
ser

USA         5
Germany    10
France     15
UK         20
Turkey     25
Greece     30
dtype: int64

In [91]:
ser.sort_values()

USA         5
Germany    10
France     15
UK         20
Turkey     25
Greece     30
dtype: int64

In [92]:
ser.sort_index()

France     15
Germany    10
Greece     30
Turkey     25
UK         20
USA         5
dtype: int64

In [93]:
"Turkey" in ser  # label üzerinden filtering

True

In [94]:
"Holland" in ser

False

In [95]:
ser.isin([55])   # değerler üzerinden sıralama için isin kullanılır.

USA        False
Germany    False
France     False
UK         False
Turkey     False
Greece     False
dtype: bool

In [96]:
ser.isin([25])

USA        False
Germany    False
France     False
UK         False
Turkey      True
Greece     False
dtype: bool

In [97]:
ser.keys()

Index(['USA', 'Germany', 'France', 'UK', 'Turkey', 'Greece'], dtype='object')

In [99]:
ser.items   # index ve value bir item olarak düşünebiliriz.

<bound method Series.items of USA         5
Germany    10
France     15
UK         20
Turkey     25
Greece     30
dtype: int64>

In [100]:
for key, value in ser.items():
    print(key,value)

USA 5
Germany 10
France 15
UK 20
Turkey 25
Greece 30

In [101]:
m = np.arange(1,30,2).reshape((3,5))
m

array([[ 1,  3,  5,  7,  9],
       [11, 13, 15, 17, 19],
       [21, 23, 25, 27, 29]])

In [102]:
df = pd.DataFrame(m,columns=["col1","col2","col3","col4","col5"])
df

   col1  col2  col3  col4  col5
0     1     3     5     7     9
1    11    13    15    17    19
2    21    23    25    27    29

In [103]:
df.head(2)

   col1  col2  col3  col4  col5
0     1     3     5     7     9
1    11    13    15    17    19

In [104]:
df.tail(1)

   col1  col2  col3  col4  col5
2    21    23    25    27    29

In [107]:
df.sample(2)   # karıştırıp sondaki ikiliyi getirir.

   col1  col2  col3  col4  col5
2    21    23    25    27    29
1    11    13    15    17    19