In [194]:
import seaborn as sns
import pandas as pd
import numpy as np
import json

In [195]:
sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

In [197]:
df = pd.read_json('scout_car.json', lines=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [198]:
df.head().T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [199]:
df1=df.copy()
df1.drop(['url'], axis = 1, inplace = True)

In [201]:
df1.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners',
       'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Country version', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [202]:
df1.rename(columns={'\nComfort & Convenience\n':'Comfort & Convenience','\nEntertainment & Media\n' :'Entertainment & Media', 
                    '\nExtras\n' : 'Extras', '\nSafety & Security\n': 'Safety & Security'}, inplace = True)

df1.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners',
       'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number',
       'First Registration', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       'Comfort & Convenience', 'Entertainment & Media', 'Extras',
       'Safety & Security', 'description', 'Emission Label', 'Gears',
       'Country version', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [203]:
df1.head().T

,0,1,2,3,4
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
Comfort & Convenience,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
Entertainment & Media,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
Extras,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
Safety & Security,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [204]:
df1.isnull().sum()

make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
Comfort & Convenience              920
Entertainment & Media             1374
Extras                            2962
Safety & Security                  982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [205]:
df1.isnull().sum()/len(df1)*100

make_model                        0.000
short_description                 0.289
body_type                         0.377
price                             0.000
vat                              28.350
km                                0.000
registration                      0.000
prev_owner                       42.892
kW                              100.000
hp                                0.000
Type                              0.013
Previous Owners                  41.711
Next Inspection                  77.794
Inspection new                   75.300
Warranty                         34.047
Full Service                     48.395
Non-smoking Vehicle              54.916
null                              0.000
Make                              0.000
Model                             0.000
Offer Number                     19.945
First Registration               10.032
Body Color                        3.750
Paint Type                       36.259
Body Color Original              23.613
Upholstery                       23.368
Body                              0.377
Nr. of Doors                      1.332
Nr. of Seats                      6.137
Model Code                       68.729
Gearing Type                      0.000
Displacement                      3.116
Cylinders                        35.681
Weight                           43.809
Drive chain                      43.081
Fuel                              0.000
Consumption                      11.973
CO2 Emission                     11.357
Emission Class                   18.977
Comfort & Convenience             5.779
Entertainment & Media             8.631
Extras                           18.607
Safety & Security                 6.169
description                       0.000
Emission Label                   74.967
Gears                            29.600
Country version                  52.346
Electricity consumption          99.139
Last Service Date                96.445
Other Fuel Types                 94.472
Availability                     96.011
Last Timing Belt Service Date    99.899
Available from                   98.291
dtype: float64

In [206]:
df1.drop(['Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'], axis = 1, inplace = True)

In [207]:
df1.drop(['kW','Make','Model'], axis = 1, inplace = True)

In [209]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   make_model               15919 non-null  object
 1   short_description        15873 non-null  object
 2   body_type                15859 non-null  object
 3   price                    15919 non-null  int64
 4   vat                      11406 non-null  object
 5   km                       15919 non-null  object
 6   registration             15919 non-null  object
 7   prev_owner               9091 non-null   object
 8   hp                       15919 non-null  object
 9   Type                     15917 non-null  object
 10  Previous Owners          9279 non-null   object
 11  Next Inspection          3535 non-null   object
 12  Inspection new           3932 non-null   object
 13  Warranty                 10499 non-null  object
 14  Full Service             8215 non-null   object
 15  Non-smoking Vehicle      7177 non-null   object
 16  null                     15919 non-null  object
 17  Offer Number             12744 non-null  object
 18  First Registration       14322 non-null  object
 19  Body Color               15322 non-null  object
 20  Paint Type               10147 non-null  object
 21  Body Color Original      12160 non-null  object
 22  Upholstery               12199 non-null  object
 23  Body                     15859 non-null  object
 24  Nr. of Doors             15707 non-null  object
 25  Nr. of Seats             14942 non-null  object
 26  Model Code               4978 non-null   object
 27  Gearing Type             15919 non-null  object
 28  Displacement             15423 non-null  object
 29  Cylinders                10239 non-null  object
 30  Weight                   8945 non-null   object
 31  Drive chain              9061 non-null   object
 32  Fuel                     15919 non-null  object
 33  Consumption              14013 non-null  object
 34  CO2 Emission             14111 non-null  object
 35  Emission Class           12898 non-null  object
 36  Comfort & Convenience    14999 non-null  object
 37  Entertainment & Media    14545 non-null  object
 38  Extras                   12957 non-null  object
 39  Safety & Security        14937 non-null  object
 40  description              15919 non-null  object
 41  Emission Label           3985 non-null   object
 42  Gears                    11207 non-null  object
 43  Country version          7586 non-null   object
 44  Electricity consumption  137 non-null    object
dtypes: int64(1), object(44)
memory usage: 5.5+ MB

In [210]:
df1['Electricity consumption'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0 kWh/100 km (comb)\n]    137
Name: Electricity consumption, dtype: int64

In [211]:
df1.groupby(['make_model', 'body_type'])[['price']].mean()

                                 price
make_model     body_type
Audi A1        Compact       19189.373
               Coupe         14925.000
               Other         22026.154
               Sedans        18631.540
               Station wagon 17811.381
               Van           29000.000
Audi A2        Off-Road      28200.000
Audi A3        Compact       19024.473
               Convertible   27905.375
               Coupe         17745.000
               Other         20388.125
               Sedans        21163.901
               Station wagon 20684.355
Opel Astra     Compact       16199.762
               Coupe         22240.000
               Off-Road      18590.000
               Other         13864.313
               Sedans        15963.179
               Station wagon 15771.073
Opel Corsa     Compact       11792.684
               Coupe          8772.308
               Off-Road       8166.667
               Other          9761.149
               Sedans        10205.782
               Transporter    7650.000
               Van            7900.000
Opel Insignia  Compact       28590.074
               Coupe         17094.000
               Off-Road      29451.286
               Other         18247.792
               Sedans        21263.470
               Station wagon 21538.421
               Van           20980.000
Renault Clio   Compact       12649.634
               Coupe         17990.000
               Off-Road      12845.000
               Other         12105.824
               Sedans        12004.600
               Station wagon 11126.861
               Transporter    8490.172
               Van            9650.000
Renault Duster Off-Road      13230.176
Renault Espace Compact       30046.667
               Coupe         30567.000
               Off-Road      25762.500
               Other         29608.875
               Sedans        30052.429
               Station wagon 27314.659
               Transporter   22606.481
               Van           30975.332

In [212]:
df1['prev_owner'].unique()

array(['2 previous owners', None, '1 previous owner', '3 previous owners',
       '4 previous owners'], dtype=object)

In [213]:
df1["prev_owner"] = df1['prev_owner'].str.extract("(\d+)")
df1["prev_owner"].value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [214]:
df1['km']

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15919, dtype: object

In [215]:
df1["Next Inspection"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n12/2018\n, \n97 g CO2/km (comb)\n]      1
[\n03/2022\n, \n1 (No sticker)\n]          1
[\n05/2021\n, \n93 g CO2/km (comb)\n]      1
[\n06/2021\n, \n93 g CO2/km (comb)\n]      1
[\n01/2022\n, \n168 g CO2/km (comb)\n]     1
Name: Next Inspection, Length: 1399, dtype: int64

In [216]:
df1["Next Inspection"] = df1['Next Inspection'].str.extract("(\d{1,2}/\d{1,4})")
df1["Next Inspection"].value_counts()

04/2022    62
03/2021    38
03/2022    36
06/2021    34
01/2022    32
04/2021    29
05/2021    27
05/2022    27
03/2020    25
05/2019    23
01/2023    19
02/2021    19
02/2020    18
09/2021    17
02/2022    16
04/2020    16
01/2021    15
01/2020    15
06/2022    14
07/2019    13
07/2020    13
04/2019    13
11/2020    12
05/2020    12
02/2023    10
09/2019     9
07/2021     8
03/2023     8
06/2020     8
08/2022     8
03/2019     8
07/2022     7
08/2019     7
12/2019     7
06/2019     7
11/2019     6
08/2020     6
09/2020     6
10/2018     5
08/2021     5
12/2018     4
02/2019     4
10/2021     4
10/2019     4
04/2023     3
10/2020     3
03/2017     3
12/2020     3
05/2023     2
04/2017     2
11/2021     2
10/2022     2
06/2016     2
12/2021     2
06/2018     1
03/2018     1
05/2016     1
07/2017     1
01/1955     1
08/2018     1
12/2022     1
01/2019     1
01/1999     1
03/2024     1
Name: Next Inspection, dtype: int64

In [217]:
df1.iloc[15918]

make_model                                                    Renault Espace
short_description                INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
body_type                                                                Van
price                                                                  40999
vat                                                           VAT deductible
km                                                                      - km
registration                                                         01/2019
prev_owner                                                                 1
hp                                                                    165 kW
Type                                           [, Demonstration, , Super 95]
Previous Owners                                                        \n1\n
Next Inspection                                                          NaN
Inspection new                            [\nYes\n, \n153 g CO2/km (comb)\n]
Warranty                                                                 NaN
Full Service                                                             NaN
Non-smoking Vehicle                                                      NaN
null                                                                      []
Offer Number                                            [\nRe_30000008029\n]
First Registration                                            [\n, 2019, \n]
Body Color                                                    [\n, Grey, \n]
Paint Type                                                    [\nMetallic\n]
Body Color Original                             [\nTitanium-Grau Metallic\n]
Upholstery                                         [\nFull leather, Brown\n]
Body                                                           [\n, Van, \n]
Nr. of Doors                                                         [\n5\n]
Nr. of Seats                                                         [\n5\n]
Model Code                                                    [\n3333/BHJ\n]
Gearing Type                                             [\n, Automatic, \n]
Displacement                                                  [\n1,798 cc\n]
Cylinders                                                            [\n4\n]
Weight                                                        [\n1,685 kg\n]
Drive chain                                                        [\n4WD\n]
Fuel                                                      [\n, Super 95, \n]
Consumption                [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
CO2 Emission                                       [\n153 g CO2/km (comb)\n]
Emission Class                                                  [\nEuro 6\n]
Comfort & Convenience      [Air conditioning, Automatic climate control, ...
Entertainment & Media                                                  [USB]
Extras                                          [Alloy wheels, Touch screen]
Safety & Security          [ABS, Blind spot monitor, Daytime running ligh...
description                [\n, Sicherheit Airbags:,  , Seitenairbag,  , ...
Emission Label                                               [\n4 (Green)\n]
Gears                                                                    NaN
Country version                                                [\nGermany\n]
Electricity consumption                                                  NaN
Name: 15918, dtype: object

In [218]:
df1["Warranty"] = df1.Warranty.str.extract('(\d+)')
df1["Warranty"].value_counts(dropna=False)

NaN    13862
12      1177
24       566
48       109
6         76
36        56
60        19
3         19
72        15
4          3
18         3
19         2
26         2
9          2
1          1
23         1
30         1
28         1
13         1
8          1
2          1
25         1
Name: Warranty, dtype: int64

In [219]:
df1['Previous Owners']=[item[0] if type (item)==list else item for item in df1['Previous Owners']]

In [220]:
df1["Previous Owners"] = df1['Previous Owners'].str.extract('(\d+)')
df1['Previous Owners']

0          2
1        NaN
2          1
3          1
4          1
        ...
15914    NaN
15915      1
15916      1
15917    NaN
15918      1
Name: Previous Owners, Length: 15919, dtype: object

In [221]:
df1['Fuel']=[item[1] if type(item)==list else item for item in df1['Fuel']]
df1['Fuel']

0                          Diesel (Particulate Filter)
1                                             Gasoline
2                          Diesel (Particulate Filter)
3                          Diesel (Particulate Filter)
4                          Diesel (Particulate Filter)
                             ...
15914                      Diesel (Particulate Filter)
15915    Super 95 / Super Plus 98 (Particulate Filter)
15916                                           Diesel
15917                                           Diesel
15918                                         Super 95
Name: Fuel, Length: 15919, dtype: object

In [222]:
df1["hp"] = df1.hp.str.extract('(\d{1,4})').astype('float')

In [223]:
df1['hp']

0        66.000
1       141.000
2        85.000
3        66.000
4        66.000
          ...
15914   147.000
15915   165.000
15916   146.000
15917   147.000
15918   165.000
Name: hp, Length: 15919, dtype: float64

In [224]:
df1['km'] = df1['km'].str.replace(',','').str.extract('(\d+)')
df1['km']

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914      NaN
15915     9900
15916       15
15917       10
15918      NaN
Name: km, Length: 15919, dtype: object

In [225]:
df1['km']=df1['km'].astype(float)
df1['km']

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914         NaN
15915    9900.000
15916      15.000
15917      10.000
15918         NaN
Name: km, Length: 15919, dtype: float64

In [226]:
df1['First Registration']= df1['First Registration'].str[1]
df1['First Registration'].value_counts(dropna=False)

2018    4522
2016    3674
2017    3273
2019    2853
NaN     1597
Name: First Registration, dtype: int64

In [227]:
df1['First Registration'] = df1['First Registration'].astype(float)

In [228]:
df1['Car_Age']= 2019-df1['First Registration']
df1.Car_Age.value_counts(dropna=False)

1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: Car_Age, dtype: int64

In [229]:
df1.Car_Age

0       3.000
1       2.000
2       3.000
3       3.000
4       3.000
         ...
15914     NaN
15915   0.000
15916   0.000
15917   0.000
15918   0.000
Name: Car_Age, Length: 15919, dtype: float64

In [230]:
df1.groupby(['Car_Age'])[['km']].mean()

               km
Car_Age
0.000    2085.355
1.000   18035.239
2.000   41754.941
3.000   77442.521

In [235]:
df1.loc[df1.km<10000, 'Car_Age']=df1.loc[df1.km<10000].fillna(0)

In [236]:
df1.loc[(df1.km>=10000) & (df1.km < 30000),'Car_Age']=df1.loc[(df1.km>=10000) & (df1.km < 30000)].fillna(1)

In [237]:
df1.loc[(df1.km>=30000) & (df1.km < 50000),'Car_Age']=df1.loc[(df1.km>=30000) & (df1.km < 50000)].fillna(2)

In [239]:
df1.loc[(df1.km>=50000),'Car_Age']=df1.loc[(df1.km>=50000)].fillna(1)

In [241]:
df1.Car_Age.value_counts(dropna=False) # we have still 838 NaN values, we need deep investigate how we fill these NaNs

1.000    4533
3.000    3674
0.000    3597
2.000    3277
NaN       838
Name: Car_Age, dtype: int64

In [ ]:
# df1.Car_Age = df1.Car_Age.fillna('-')

AttributeError: 'DataFrame' object has no attribute 'Car_Age'

In [242]:
df1.Car_Age.value_counts(dropna=False)

1.000    4533
3.000    3674
0.000    3597
2.000    3277
NaN       838
Name: Car_Age, dtype: int64

In [243]:
df1.groupby(['make_model', 'body_type','Car_Age'])[['price']].describe()

                                       price                                \
                                       count      mean       std       min
make_model     body_type     Car_Age
Audi A1        Compact       0.000   198.000 23277.434  3510.406 14900.000
                             1.000   268.000 18596.041  2659.910 13980.000
                             2.000   161.000 16602.807  2085.384 10999.000
                             3.000   234.000 14532.910  1908.909  9950.000
               Coupe         2.000     1.000 15900.000       NaN 15900.000
                             3.000     1.000 13950.000       NaN 13950.000
               Other         0.000     8.000 23826.250  2057.439 21490.000
                             1.000     3.000 16796.667   178.979 16590.000
                             2.000     1.000 23490.000       NaN 23490.000
               Sedans        0.000   368.000 24158.087  3196.985 15990.000
                             1.000   465.000 18394.938  2588.159 13450.000
                             2.000   266.000 16605.395  2223.979 11600.000
                             3.000   389.000 14466.900  1890.278  8999.000
               Station wagon 0.000     2.000 28944.500    77.075 28890.000
                             1.000    11.000 17410.909  2166.031 15750.000
                             2.000     3.000 17613.333  2953.817 14750.000
                             3.000     5.000 14358.000  1276.891 12950.000
               Van           0.000     1.000 29000.000       NaN 29000.000
Audi A2        Off-Road      1.000     1.000 28200.000       NaN 28200.000
Audi A3        Compact       0.000    17.000 29345.471  8767.065 15500.000
                             1.000    29.000 22030.931  4270.469 14500.000
                             2.000    39.000 20489.769  8208.445 13790.000
                             3.000    93.000 15303.796  2256.723 12900.000
               Convertible   1.000     3.000 29664.333 23557.901 10893.000
                             2.000     4.000 28562.500  5301.159 20900.000
                             3.000     1.000 20000.000       NaN 20000.000
               Coupe         2.000     1.000 19000.000       NaN 19000.000
                             3.000     3.000 17326.667   583.124 16990.000
               Other         1.000     4.000 23422.500  3548.055 20200.000
                             2.000     4.000 18675.000  1351.851 17650.000
                             3.000     5.000 15970.000  2392.070 12550.000
               Sedans        0.000   626.000 24909.898  2354.990 18820.000
                             1.000   709.000 22544.715  5224.410 14250.000
                             2.000   550.000 19980.358  3721.376 10550.000
                             3.000   647.000 16702.832  2900.228 10950.000
               Station wagon 0.000    69.000 25219.000  5011.257 17990.000
                             1.000    32.000 21252.594  3201.415  5555.000
                             2.000    72.000 19010.875  1522.622 14590.000
                             3.000    67.000 15739.507  1883.567 11790.000
Opel Astra     Compact       0.000    51.000 23056.118  7391.480 16500.000
                             1.000    39.000 14717.538  1266.385 11999.000
                             2.000    55.000 13091.491  1884.243  9999.000
                             3.000    30.000 12023.733  2767.419  8450.000
               Coupe         0.000     1.000 29990.000       NaN 29990.000
                             3.000     1.000 14490.000       NaN 14490.000
               Off-Road      1.000     1.000 18590.000       NaN 18590.000
               Other         0.000     9.000 17175.000  1225.566 15490.000
                             1.000    36.000 14688.889   548.493 12900.000
                             2.000    11.000 12059.545  1462.304 10040.000
                             3.000    11.000 10261.727  2128.067  8490.000
               Sedans        0.000   260.000 20528.096  4601.490  6950.000
                             1.000   320.000 15682.544  1794.249  8860.000
                             2.000   249.000 12954.040  2080.899  7800.000
                             3.000   150.000 11899.480  2304.464  6500.000
               Station wagon 0.000   237.000 22624.730  5168.016 15285.000
                             1.000   333.000 16859.829  1984.457   255.000
                             2.000   269.000 13093.089  2017.233  8480.000
                             3.000   324.000 11052.981  2528.518  6000.000
Opel Corsa     Compact       0.000   476.000 13758.405  2637.068   120.000
                             1.000   353.000 11913.510  2098.742  7499.000
                             2.000   158.000  9683.411  1782.282  6250.000
                             3.000   213.000  8426.765  2065.760  4990.000
               Coupe         0.000     3.000 10283.333  1286.792  8800.000
                             2.000     5.000  8718.000  1356.695  7500.000
                             3.000     5.000  7920.000  1478.851  6900.000
               Off-Road      2.000     3.000  8166.667   461.880  7900.000
               Other         0.000    13.000 10728.923  3386.983   331.000
                             1.000    49.000  9706.837  1414.526  8490.000
                             2.000    19.000  8667.895   202.281  8500.000
                             3.000     4.000  9054.750  1463.729  7900.000
               Sedans        0.000   176.000 12949.898  2584.623  8200.000
                             1.000   282.000 10799.500  1998.647    13.000
                             2.000   199.000  9000.975  1513.124  6200.000
                             3.000   202.000  7993.213  1449.127  4950.000
               Transporter   0.000     3.000  9933.333   493.288  9600.000
                             2.000     1.000  7450.000       NaN  7450.000
                             3.000     3.000  5433.333   175.594  5250.000
               Van           3.000     2.000  7900.000     0.000  7900.000
Opel Insignia  Compact       0.000    16.000 35747.625  6580.219 21900.000
                             1.000     2.000 20400.000   707.107 19900.000
                             2.000     4.000 17545.000  3341.262 13490.000
                             3.000     4.000 12375.000  2373.640 10350.000
               Coupe         2.000     1.000 17094.000       NaN 17094.000
               Off-Road      0.000     2.000 30995.000  3528.463 28500.000
                             3.000     1.000 12750.000       NaN 12750.000
               Other         0.000     7.000 28008.429  4775.491 24700.000
                             1.000     7.000 20850.714  2277.232 18480.000
                             2.000    31.000 15860.968  2564.308 10600.000
                             3.000     3.000 14063.333  1314.927 12900.000
               Sedans        0.000   138.000 33401.674  4882.201 22120.000
                             1.000   278.000 20368.583  2439.116 15990.000
                             2.000   245.000 16575.776  3254.280  9900.000
                             3.000   126.000 13411.048  2251.593  8600.000
               Station wagon 0.000   287.000 33783.021  4561.027 19900.000
                             1.000   481.000 21952.844  1714.840 11980.000
                             2.000   305.000 17493.898  2614.542  8990.000
                             3.000   433.000 13677.596  2166.268  8290.000
               Van           1.000     1.000 20980.000       NaN 20980.000
Renault Clio   Compact       0.000   158.000 11845.614  2823.449  9545.000
                             1.000   134.000 15835.754  4597.178  8990.000
                             2.000    86.000 12484.372  3428.348  6950.000
                             3.000    87.000  9549.011  2732.518  5800.000
               Coupe         2.000     1.000 17990.000       NaN 17990.000
               Off-Road      0.000     1.000 17990.000       NaN 17990.000
                             3.000     1.000  7700.000       NaN  7700.000
               Other         0.000    18.000 10558.889   723.113  8690.000
                             1.000    20.000 14979.550  2051.507  9900.000
                             2.000     7.000 10170.000  2794.363  7970.000
                             3.000     6.000  9426.000  2834.963  7500.000
               Sedans        0.000   149.000 11976.403  3434.890  6950.000
                             1.000   309.000 15244.790  5497.132  7280.000
                             2.000   230.000 10121.900  2536.429  6990.000
                             3.000   208.000  9358.058  2772.773  5445.000
               Station wagon 0.000    35.000 12717.371  3518.044  6900.000
                             1.000    98.000 11924.622  2977.329  7950.000
                             2.000    99.000 11288.848  2708.793  6000.000
                             3.000    97.000  9437.845  2481.119  5900.000
               Transporter   0.000     3.000  9661.333   691.666  9262.000
                             1.000     6.000 10058.500   761.313  8990.000
                             2.000     9.000  8415.556   839.674  6900.000
                             3.000    11.000  7376.364   876.838  5900.000
               Van           1.000     1.000  9900.000       NaN  9900.000
                             2.000     1.000  9400.000       NaN  9400.000
Renault Duster Off-Road      0.000    16.000 13343.000  1625.593 10900.000
Renault Espace Compact       0.000     3.000 38830.000  4855.070 33500.000
                             2.000     1.000 23990.000       NaN 23990.000
                             3.000     2.000 19900.000  2828.427 17900.000
               Coupe         0.000     1.000 34140.000       NaN 34140.000
                             1.000     1.000 26994.000       NaN 26994.000
               Off-Road      1.000     2.000 27850.000     0.000 27850.000
                             2.000     5.000 27100.000  4103.657 22500.000
                             3.000     1.000 14900.000       NaN 14900.000
               Other         0.000     1.000 42681.000       NaN 42681.000
                             1.000     2.000 34000.000     0.000 34000.000
                             2.000     2.000 24900.000  4242.641 21900.000
                             3.000     3.000 25463.333  7713.497 17500.000
               Sedans        0.000     1.000 48498.000       NaN 48498.000
                             1.000    13.000 29090.462  3321.812 25490.000
                             2.000     3.000 23863.333   109.697 23800.000
                             3.000     2.000 22449.500  4879.744 18999.000
               Station wagon 0.000     9.000 43642.222  4066.795 37900.000
                             1.000    14.000 34301.429  3864.125 28990.000
                             2.000    13.000 27046.846  5245.900 19450.000
                             3.000    52.000 21626.827  2862.987 16900.000
               Transporter   0.000     1.000 32700.000       NaN 32700.000
                             1.000     5.000 29297.800  1306.587 27990.000
                             2.000     9.000 23861.000  3464.582 19450.000
                             3.000    37.000 21124.297  3279.229 14999.000
               Van           0.000   218.000 40074.514  8154.729 24200.000
                             1.000   207.000 31947.841  4072.970 23099.000
                             2.000   134.000 26574.478  3427.863 14600.000
                             3.000   199.000 22132.623  3216.032 12614.000


                                           25%       50%       75%       max
make_model     body_type     Car_Age
Audi A1        Compact       0.000   20503.500 22492.000 26798.500 31990.000
                             1.000   16445.000 16980.000 20950.000 23829.000
                             2.000   15450.000 15850.000 17700.000 22150.000
                             3.000   13407.500 13994.500 15480.000 18900.000
               Coupe         2.000   15900.000 15900.000 15900.000 15900.000
                             3.000   13950.000 13950.000 13950.000 13950.000
               Other         0.000   22490.000 22720.000 25900.000 26900.000
                             1.000   16745.000 16900.000 16900.000 16900.000
                             2.000   23490.000 23490.000 23490.000 23490.000
               Sedans        0.000   21797.500 23800.000 26890.000 37900.000
                             1.000   16321.000 16950.000 20350.000 33900.000
                             2.000   14955.000 15900.000 18000.000 22500.000
                             3.000   13000.000 13950.000 15784.000 19900.000
               Station wagon 0.000   28917.250 28944.500 28971.750 28999.000
                             1.000   15870.000 16480.000 18260.000 21450.000
                             2.000   16095.000 17440.000 19045.000 20650.000
                             3.000   13979.000 13999.000 14440.000 16422.000
               Van           0.000   29000.000 29000.000 29000.000 29000.000
Audi A2        Off-Road      1.000   28200.000 28200.000 28200.000 28200.000
Audi A3        Compact       0.000   22300.000 24900.000 37998.000 41495.000
                             1.000   19999.000 21900.000 22599.000 39959.000
                             2.000   17525.000 18945.000 20780.000 67600.000
                             3.000   13500.000 14900.000 16895.000 24950.000
               Convertible   1.000   16446.500 22000.000 39050.000 56100.000
                             2.000   27350.000 30200.000 31412.500 32950.000
                             3.000   20000.000 20000.000 20000.000 20000.000
               Coupe         2.000   19000.000 19000.000 19000.000 19000.000
                             3.000   16990.000 16990.000 17495.000 18000.000
               Other         1.000   21925.000 22500.000 23997.500 28490.000
                             2.000   17650.000 18275.000 19300.000 20500.000
                             3.000   15300.000 15500.000 18000.000 18500.000
               Sedans        0.000   23885.000 24900.000 26197.500 62900.000
                             1.000   20800.000 21500.000 22900.000 74600.000
                             2.000   18000.000 19400.000 20990.000 55000.000
                             3.000   15110.000 15980.000 17890.000 42500.000
               Station wagon 0.000   23490.000 24980.000 25884.000 63900.000
                             1.000   20650.000 21480.000 22900.000 23800.000
                             2.000   18374.500 18990.000 19621.250 21990.000
                             3.000   14195.000 15900.000 17250.000 18780.000
Opel Astra     Compact       0.000   17490.000 18300.000 29675.000 39433.000
                             1.000   13990.000 14900.000 14990.000 18900.000
                             2.000   11955.000 12636.000 12955.000 19950.000
                             3.000   10111.250 10947.500 14854.250 17750.000
               Coupe         0.000   29990.000 29990.000 29990.000 29990.000
                             3.000   14490.000 14490.000 14490.000 14490.000
               Off-Road      1.000   18590.000 18590.000 18590.000 18590.000
               Other         0.000   16390.000 17390.000 17490.000 18990.000
                             1.000   14497.500 14895.000 14990.000 15300.000
                             2.000   11250.000 11950.000 12700.000 15400.000
                             3.000    9244.500  9490.000  9900.000 14990.000
               Sedans        0.000   17585.000 18665.000 23940.000 32950.000
                             1.000   14537.250 15275.000 17205.000 18990.000
                             2.000   11320.000 12500.000 14900.000 17890.000
                             3.000   10400.000 10950.000 13967.500 15999.000
               Station wagon 0.000   18096.000 19990.000 26950.000 34580.000
                             1.000   15200.000 17350.000 18461.000 18990.000
                             2.000   11850.000 12660.000 14650.000 17890.000
                             3.000    9479.750 10500.000 12072.500 15999.000
Opel Corsa     Compact       0.000   10979.000 14650.000 15942.500 18622.000
                             1.000    9800.000 12750.000 13890.000 15790.000
                             2.000    8500.000  8950.000 11261.250 13990.000
                             3.000    7290.000  7750.000  7950.000 16950.000
               Coupe         0.000    9875.000 10950.000 11025.000 11100.000
                             2.000    7900.000  8500.000  8700.000 10990.000
                             3.000    7200.000  7200.000  7800.000 10500.000
               Off-Road      2.000    7900.000  7900.000  8300.000  8700.000
               Other         0.000   10990.000 10990.000 10995.000 14990.000
                             1.000    8900.000  9500.000  9690.000 13990.000
                             2.000    8500.000  8500.000  8900.000  8900.000
                             3.000    7900.000  8685.000  9839.750 10949.000
               Sedans        0.000   10990.000 11390.000 15427.500 18490.000
                             1.000    9499.000  9900.000 12500.000 15690.000
                             2.000    8299.000  8600.000  8950.000 13900.000
                             3.000    7400.000  7650.000  7900.000 13500.000
               Transporter   0.000    9650.000  9700.000 10100.000 10500.000
                             2.000    7450.000  7450.000  7450.000  7450.000
                             3.000    5350.000  5450.000  5525.000  5600.000
               Van           3.000    7900.000  7900.000  7900.000  7900.000
Opel Insignia  Compact       0.000   34495.000 36345.000 38991.250 49884.000
                             1.000   20150.000 20400.000 20650.000 20900.000
                             2.000   15740.000 17695.000 19500.000 21300.000
                             3.000   10350.000 12125.000 14150.000 14900.000
               Coupe         2.000   17094.000 17094.000 17094.000 17094.000
               Off-Road      0.000   29747.500 30995.000 32242.500 33490.000
                             3.000   12750.000 12750.000 12750.000 12750.000
               Other         0.000   24940.000 26500.000 28490.000 37999.000
                             1.000   19350.000 19900.000 22442.500 23990.000
                             2.000   13800.000 16900.000 17745.000 18900.000
                             3.000   13350.000 13800.000 14645.000 15490.000
               Sedans        0.000   29912.500 33120.000 37667.250 48950.000
                             1.000   18990.000 19995.000 21490.000 38900.000
                             2.000   13540.000 17750.000 18890.000 21990.000
                             3.000   11950.000 13445.000 14980.000 17999.000
               Station wagon 0.000   29995.000 33900.000 36990.000 52120.000
                             1.000   20850.000 21900.000 23480.000 24700.000
                             2.000   15900.000 17960.000 18990.000 21990.000
                             3.000   12400.000 13900.000 14995.000 18400.000
               Van           1.000   20980.000 20980.000 20980.000 20980.000
Renault Clio   Compact       0.000   10770.000 11180.000 11400.000 26770.000
                             1.000   13387.500 15500.000 16573.250 29740.000
                             2.000    8990.000 13390.000 13925.000 27900.000
                             3.000    7875.000  8400.000 12545.000 15990.000
               Coupe         2.000   17990.000 17990.000 17990.000 17990.000
               Off-Road      0.000   17990.000 17990.000 17990.000 17990.000
                             3.000    7700.000  7700.000  7700.000  7700.000
               Other         0.000    9990.000 10800.000 10942.500 11490.000
                             1.000   15365.000 15840.000 15990.000 16590.000

In [244]:
df1.Car_Age.value_counts(dropna=False)

1.000    4533
3.000    3674
0.000    3597
2.000    3277
NaN       838
Name: Car_Age, dtype: int64

In [247]:

df1.Car_Age=df1.Car_Age.fillna(0)

In [249]:
df1.Car_Age.value_counts(dropna=False)

1.000    4533
0.000    4435
3.000    3674
2.000    3277
Name: Car_Age, dtype: int64

In [250]:
df1.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [251]:
df1.groupby('make_model')['body_type'].describe()

               count unique            top  freq
make_model
Audi A1         2614      6         Sedans  1538
Audi A2            1      1       Off-Road     1
Audi A3         3090      6         Sedans  2598
Opel Astra      2519      6  Station wagon  1211
Opel Corsa      2217      7        Compact  1230
Opel Insignia   2595      7  Station wagon  1611
Renault Clio    1824      8         Sedans   918
Renault Duster    34      1       Off-Road    34
Renault Espace   965      8            Van   777

In [252]:
df1.groupby('make_model')['body_type'].value_counts(dropna=False)

make_model      body_type
Audi A1         Sedans           1538
                Compact          1039
                Station wagon      21
                Other              13
                Coupe               2
                Van                 1
Audi A2         Off-Road            1
Audi A3         Sedans           2598
                Station wagon     282
                Compact           182
                Other              16
                Convertible         8
                NaN                 7
                Coupe               4
Opel Astra      Station wagon    1211
                Sedans           1053
                Compact           185
                Other              67
                NaN                 7
                Coupe               2
                Off-Road            1
Opel Corsa      Compact          1230
                Sedans            875
                Other              87
                Coupe              13
                Transporter         7
                Off-Road            3
                NaN                 2
                Van                 2
Opel Insignia   Station wagon    1611
                Sedans            900
                Other              48
                Compact            27
                Off-Road            7
                NaN                 3
                Coupe               1
                Van                 1
Renault Clio    Sedans            918
                Compact           484
                Station wagon     337
                Other              51
                Transporter        29
                NaN                15
                Off-Road            2
                Van                 2
                Coupe               1
Renault Duster  Off-Road           34
Renault Espace  Van               777
                Station wagon      91
                Transporter        52
                NaN                26
                Sedans             21
                Off-Road            8
                Other               8
                Compact             6
                Coupe               2
Name: body_type, dtype: int64

In [253]:
for group in list(df1["make_model"].unique()):
    cond = df1["make_model"]==group
    mode = list(df[cond]["body_type"].mode())
    if mode != []:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df[cond]["body_type"].mode()[0])
    else:
        df.loc[cond, "body_type"] = df.loc[cond, "body_type"].fillna(df["body_type"].mode()[0])

In [254]:
df1.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [255]:
df1.vat.fillna(method='backfill', inplace = True)
df1.vat.value_counts(dropna=False)

VAT deductible      15083
Price negotiable      836
Name: vat, dtype: int64

In [256]:
df1.km.value_counts(dropna=False)

10.000       1045
NaN          1024
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6690, dtype: int64

In [257]:
df1.groupby('Car_Age')['km'].mean()

Car_Age
0.000    1647.363
1.000   18107.384
2.000   41748.577
3.000   77442.521
Name: km, dtype: float64

In [260]:
df1.km.fillna(df1.groupby('Car_Age')['km'].transform('mean'), inplace=True)

In [261]:
df1.km.value_counts(dropna=False)

10.000       1045
1647.363      985
1.000         367
5.000         170
50.000        148
             ...
67469.000       1
43197.000       1
10027.000       1
35882.000       1
57.000          1
Name: km, Length: 6692, dtype: int64

In [ ]:
def fill(df, group_col1, group_col2, col_name, method): # method can be "mode" or "median" or "ffill"
    if method == "mode":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                mode1 = list(df[cond1][col_name].mode())
                mode2 = list(df[cond2][col_name].mode())
                if mode2 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].mode()[0])
                elif mode1 != []:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond1][col_name].mode()[0])
                else:
                    df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[col_name].mode()[0])
    elif method == "median":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond1 = df[group_col1]==group1
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(df[cond2][col_name].median()).fillna(df[cond1][col_name].median()).fillna(df[col_name].median())
    elif method == "ffill":
        for group1 in list(df[group_col1].unique()):
            for group2 in list(df[group_col2].unique()):
                cond2 = (df[group_col1]==group1) & (df[group_col2]==group2)
                df.loc[cond2, col_name] = df.loc[cond2, col_name].fillna(method="ffill").fillna(method="bfill")
        for group1 in list(df[group_col1].unique()):
            cond1 = df[group_col1]==group1
            df.loc[cond1, col_name] = df.loc[cond1, col_name].fillna(method="ffill").fillna(method="bfill")
        df[col_name] = df[col_name].fillna(method="ffill").fillna(method="bfill")
    print("Number of NaN : ",df[col_name].isnull().sum())
    print("------------------")
    print(df[col_name].value_counts(dropna=False))

In [ ]:
fill(df1, 'make_model', 'body_type', 'Upholstery_type', 'ffill')